Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

update test to remove tags from wiki to fix error
  test/fixtures/node_tags.yml
  test/system/post_test.rb
Owners: none

update inline map unit tests with new classes
  test/unit/node_shared_test.rb
Owners: none

fix test error from new tags
  test/fixtures/node_tags.yml
  test/functional/tag_controller_test.rb
Owners: none

Add last edited by to tools popover for notes and questions (#7612)
  app/views/like/_like.html.erb
Owners: none

Fixing Travis system testing
  .travis.yml
Owners: none

fixed popup width error
  app/assets/stylesheets/map.css
Owners: none

Removing unwanted screenshot logging
  .travis.yml
  test/system/map_test.rb
  test/system/post_test.rb
Owners: none

fix alignment of twitter button
  app/views/home/_social.html.erb
  app/views/sidebar/_question.html.erb
Owners: none

fixed #6810 pluralization logic III (#7713)
  app/views/tag/_profileCard.html.erb
Owners: none

Update and rename _wikis.html.erb to _wikis.html.erb fixes #7654
  app/views/sidebar/_wikis.html.erb fixes #7654
Owners: none

Change function t to translation in app/views/tag/show/_contributors.html.erb #7721
  app/views/tag/show/_contributors.html.erb
Owners: none

fix alignment of twitter button (#7611)
  app/views/home/_social.html.erb
  app/views/sidebar/_question.html.erb
Owners: none

Map Popups (#7715)
  .travis.yml
  app/api/srch/search.rb
  app/assets/javascripts/application.js
  app/assets/javascripts/leaflet_helper.js
  app/assets/javascripts/timeago.js
  app/assets/stylesheets/map.css
  app/models/doc_result.rb
  app/views/map/_inlineLeaflet.html.erb
  app/views/map/_leaflet.html.erb
  app/views/map/_peopleLeaflet.html.erb
  app/views/map/_plainInlineLeaflet.html.erb
  test/fixtures/node_tags.yml
  test/functional/tag_controller_test.rb
  test/system/map_test.rb
  test/system/post_test.rb
  test/unit/node_shared_test.rb
  test/unit/user_test.rb
Owners: none

center tag buttons in sidebar (#7687)
  app/assets/stylesheets/style.css
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
Owners: none

Create separate partial for sidebar map and add it in questions (#7607)
  app/views/sidebar/_map.html.erb
  app/views/sidebar/_notes.html.erb
  app/views/sidebar/_question.html.erb
  app/views/sidebar/_related.html.erb
Owners: none

add choose page with params
  app/views/editor/choose.html.erb
  config/routes.rb
Owners: @publiclab/editor-maintainers

add to map button
  app/assets/stylesheets/map.css
  app/views/map/map.html.erb
Owners: none

use feature for post/choose
  app/views/editor/choose.html.erb
Owners: @publiclab/editor-maintainers

decrease height of box at small screen sizes
  app/views/editor/choose.html.erb
Owners: @publiclab/editor-maintainers

update button location params
  app/views/map/map.html.erb
Owners: none

add hash to url
  app/views/editor/choose.html.erb
Owners: @publiclab/editor-maintainers

Update _header.html.erb
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Changed function t to translation
  app/views/wiki/_wikis.html.erb
Owners: none

updated line 28 and 29
  app/views/notes/tools_places.html.erb
Owners: none

Update map.html.erb
  app/views/users/map.html.erb
Owners: @publiclab/profile-maintainers

Update map.html.erb (#7747)
  app/views/users/map.html.erb
Owners: @publiclab/profile-maintainers

Change function t to translation in app/views/users/list.html.erb
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Change function t to translation in app/views/users/list.html.erb (#7748)
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Update _header.html.erb (#7744)
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Updated lines 24, 30, 51, 62, 75, 111, 113.
  app/views/users/_create_form.html.erb
Owners: @publiclab/profile-maintainers

Updated test
  test/functional/like_controller_test.rb
Owners: none

Update
  test/functional/like_controller_test.rb
Owners: none

Reverted
  test/functional/like_controller_test.rb
Owners: none

first commit
  app/views/users/_edit_form.html.erb
Owners: @publiclab/profile-maintainers

Changed function t to translation (issue #7740)
  app/views/users/_likes.html.erb
Owners: @publiclab/profile-maintainers

Change function t to translation in app/views/notes/show.html.erb #7732
  app/views/notes/show.html.erb
Owners: none

Fix spacing in /tag route for sort options
  app/views/notes/_card.html.erb
  app/views/tag/show.html.erb
Owners: none

Changed
  test/functional/like_controller_test.rb
Owners: none

Updated index.html.erb lines 12 and 14
  app/views/notes/index.html.erb
Owners: none

Change function t to translation
  app/views/tag/_contributors.html.erb
Owners: none
