Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Remove grey/green checkboxes
  app/views/grids/_notes.html.erb
Owners: none

remove answered and has_accepted_answers methods
  app/models/node.rb
Owners: none

Probot app to close stale branches (#8383)
  .github/stale.yml
Owners: none

remove answers unit tests
  test/unit/node_test.rb
Owners: none

Sign up form validation test (#8468)
  test/system/signup_form_test.rb
Owners: none

Remove grey/green checkboxes (#8471)
  app/models/node.rb
  app/views/grids/_notes.html.erb
  test/unit/node_test.rb
Owners: none

modify print layout
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
Owners: none

init
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

init
  .github/stale.yml
  app/views/comments/_edit.html.erb
  app/views/comments/_form.html.erb
  app/views/comments/create.js.erb
Owners: @publiclab/comment-maintainers

imp
  .github/stale.yml
Owners: none

pulls
  .github/stale.yml
Owners: none

changed
  .github/stale.yml
Owners: none

revert changes
  .github/stale.yml
Owners: none

change stale bot to use pulls only (#8476)
  .github/stale.yml
Owners: none

test try1
  test/system/comment_test.rb
Owners: none

modify print layout (#8473)
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
Owners: none

Rename answered to recently commented (#7257)
  app/controllers/questions_controller.rb
  app/views/questions/index.html.erb
  config/routes.rb
  test/functional/questions_controller_test.rb
Owners: none

add "in-progress" label for stalebot
  .github/stale.yml
Owners: none

revert test 1
  test/system/comment_test.rb
Owners: none

select all button (#7527)
  app/assets/javascripts/dashboard.js
Owners: none

Update stale.yml
  .github/stale.yml
Owners: none

Allow bio updation without current password and add unit test. (#7806)
  app/controllers/users_controller.rb
  test/functional/users_controller_test.rb
Owners: @publiclab/profile-maintainers

empty wiki table header (#7542)
  app/views/tag/show/_tab_content.html.erb
Owners: none

attempt to fix double pagination, added answered_question check
  app/views/questions/_questions.html.erb
  app/views/tag/show/_tab_content.html.erb
  app/views/users/_answered.html.erb
Owners: @publiclab/profile-maintainers

en-translation missing
  app/views/layouts/_header.html.erb
  config/locales/en.yml
Owners: @publiclab/navbar-maintainers

try to align body placeholder
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Update en.yml
  config/locales/en.yml
Owners: none

Update_nav_tabs.html.erb
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Update_nav_tabs.html.erb
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Change function t to translation
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Added followers and following to profile page
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Change function t to translation
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

tried to fix Functional Tests
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Replaced .count with .size in Line 49
  app/views/search/all_content.html.erb
Owners: none

Replaced .count and .size in line 20 of question_query
  app/views/search/_questions_blank.html.erb
Owners: none

Replaced .count with .size in line 12 of this query
  app/views/search/_tags_blank.html.erb
Owners: none

Replaced .count with .size in line 21 of this query
  app/views/search/_wikis_blank.html.erb
Owners: none

Replaced .count with .size in line 15 of this query
  app/views/search/_profiles_blank.html.erb
Owners: none

Update _profiles_blank.html.erb
  app/views/search/_profiles_blank.html.erb
Owners: none

Bypass GitPod SQL .group() error by grouping only in production
  app/controllers/tag_controller.rb
Owners: none
