Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

renaming function t to translation
  app/views/search/profiles.html.erb
Owners: none

Update profiles.html.erb
  app/views/search/profiles.html.erb
Owners: none

Update _profileCard.html.erb
  app/views/tag/_profileCard.html.erb
Owners: none

Update _card.html.erb
  app/views/notes/_card.html.erb
Owners: none

Update _miniCard.html.erb
  app/views/tag/_miniCard.html.erb
Owners: none

Changed cursor to pointer on hovering over ellipsis button in notes card
  app/views/notes/_card.html.erb
Owners: none

Changed cursor to pointer on hovering over ellipsis button in notes card
  app/views/notes/_card.html.erb
Owners: none

Update _miniCard.html.erb
  app/views/tag/_miniCard.html.erb
Owners: none

Update _wikis.html.erb
  app/views/sidebar/_wikis.html.erb
Owners: none

Improved the gap in sidebar (#7620)
  app/views/sidebar/_dashboard.html.erb
Owners: none

fixed style of anchor button
  app/assets/javascripts/editor.js
Owners: none

changing t in translation (#7633)
  app/views/users/reset.html.erb
Owners: @publiclab/profile-maintainers

change function t to translation (#7655)
  app/views/stats/index.html.erb
Owners: none

Update _alerts.html.erb
  app/views/layouts/_alerts.html.erb
Owners: @publiclab/navbar-maintainers

added Bootstrap to editor (#7534)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Update _miniCard.html.erb
  app/views/tag/_miniCard.html.erb
Owners: none

Change function t to tranlsate
  app/views/tag/_profileCard.html.erb
Owners: none

Update _notes.html.erb
  app/views/sidebar/_notes.html.erb
Owners: none

Update list.html.erb
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Update contributors.html.erb
  app/views/tag/contributors.html.erb
Owners: none

Update tag/blog.html.erb
  app/views/tag/blog.html.erb
Owners: none

Update blog.html.erb
  app/views/tag/blog.html.erb
Owners: none

Update blog.html.erb
  app/views/tag/blog.html.erb
Owners: none

Delete blog.html.erb
  app/views/tag/blog.html.erb
Owners: none

Update profiles.html.erb
  app/views/search/profiles.html.erb
Owners: none

Update blog.html.erb
  app/views/tag/blog.html.erb
Owners: none

Update translation function
  app/views/user_tags/index.html.erb
Owners: none

Update _card.html.erb
  app/views/notes/_card.html.erb
Owners: none

Update index.html.erb
  app/views/user_tags/index.html.erb
Owners: none

Added location modal script to dashboard (#7623)
  app/views/sidebar/_dashboard.html.erb
Owners: none

Changed t to translation
  app/views/tag/contributors.html.erb
Owners: none

updated t to translation
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Changed function t to translation in app/views/tag/_profileCard.html.erb
  app/views/tag/_profileCard.html.erb
Owners: none

Update translation function (#7673)
  app/views/user_tags/index.html.erb
Owners: none

Changed t to translation (#7677)
  app/views/tag/contributors.html.erb
Owners: none

updated t to translation (#7678)
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Update _notes.html.erb (#7669)
  app/views/sidebar/_notes.html.erb
Owners: none

change function t to translation (#7655) (#7659)
  app/views/stats/index.html.erb
Owners: none

renaming function t to translation (#7643)
  app/views/search/profiles.html.erb
Owners: none

Changed function t to translation in app/views/tag/_profileCard.html.erb (#7681)
  app/views/tag/_profileCard.html.erb
Owners: none
