Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Adding tags to Modals of Nodes (#8238)
  app/views/spam2/_nodes.html.erb
  config/routes.rb
Owners: none

bcc on moderator spam digest email (#8275)
  app/mailers/admin_mailer.rb
Owners: none

added message when following tag list is empty in spam2/queue (#8261)
  app/views/spam2/_queue.html.erb
Owners: none

Add tag input field to wiki editor (#8260)
  app/controllers/wiki_controller.rb
  app/views/editor/_tag_input.html.erb
  app/views/wiki/edit.html.erb
Owners: @publiclab/editor-maintainers

refactor and remove unused code in user controller (#8269)
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

eliminate n+1 query of comment parent method (#8267)
  app/controllers/home_controller.rb
Owners: none

eliminate n+1 query of subscription tagname method (#8268)
  app/views/home/subscriptions.html.erb
Owners: none

added an underline to the choose one link in wiki page image upload form #8175 (#8293)
  app/views/editor/_editor.html.erb
Owners: @publiclab/editor-maintainers

eliminate n+1 queries of tags (#8183)
  app/models/tag.rb
  app/views/tag/_advanced_tagging.html.erb
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
Owners: none

eliminate n+1 query in questions comments parent method (#8272)
  app/views/questions/show.html.erb
Owners: none

Add test for wiki tag input field (#8295)
  test/functional/wiki_controller_test.rb
Owners: none

change button size (#8256)
  app/views/spam2/_nodes.html.erb
Owners: none

Updated mainImagemodule in Rich (#8290)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Made change (#8305)
  app/views/notes/_comments.html.erb
Owners: @publiclab/comment-maintainers

remove n+1 queries in rss builder (#8306)
  app/views/notes/rss.rss.builder
  app/views/tag/rss.rss.builder
  app/views/users/rss.rss.builder
Owners: @publiclab/profile-maintainers

minify leaflet scripts using uglifier (#8159)
  config/environments/production.rb
Owners: none

Load critical css and rest asynchronously (#7996)
  Gemfile
  app/assets/javascripts/application.js
  app/views/layouts/application.html.erb
  config/critical_path_css.yml
  lib/tasks/critical_path_css.rake
Owners: @publiclab/navbar-maintainers

Updated node.rb (#8311)
  app/models/node.rb
Owners: none

remove duplicate from assets.rb already present in application.js (#7958)
  app/views/admin/assets.html.erb
  config/initializers/assets.rb
Owners: none

replace .length with .size method (#8312)
  app/views/notes/show.html.erb
Owners: none

Try reducing Gitpod errors by adding redis (#8162)
  .gitpod.dockerfile
  .gitpod.yml
Owners: none

Update index.html.erb (#8313)
  app/views/notes/index.html.erb
Owners: none

wip: add print preview template (#8292)
  app/assets/stylesheets/print_new.css
  app/controllers/notes_controller.rb
  app/controllers/wiki_controller.rb
  app/views/like/_like.html.erb
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
  config/initializers/assets.rb
  config/routes.rb
  test/functional/notes_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

update .travis.yml to stop deleting cache (#8323)
  .travis.yml
Owners: none

Adjust opengraph tag to show scrapped image (#8284)
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Update .gitpod.dockerfile (#8320)
  .gitpod.dockerfile
Owners: none

replace leaflet files from assets.rb in questionRich.html and _mapDependencies.html (#7945)
  app/assets/stylesheets/application.css
  app/views/editor/questionRich.html.erb
  app/views/map/_mapDependencies.html.erb
Owners: @publiclab/editor-maintainers

try fixing travis (#8322)
  .travis.yml
Owners: none

Added alerts-container class (#8254)
  app/views/tag/show.html.erb
Owners: none

Update _node_meta.html.erb (#8309)
  app/views/dashboard/_node_meta.html.erb
Owners: none

Spam2 minor bug fixes (#8352)
  app/controllers/spam2_controller.rb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
Owners: none

Insight Section for Spam2 (#8289)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/batch_controller.rb
  app/controllers/spam2_controller.rb
  app/models/node.rb
  app/models/tag.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
  test/fixtures/comments.yml
  test/functional/batch_controller_test.rb
  test/functional/spam2_controller_test.rb
  test/system/spam2_test.rb
Owners: none

initial pagy install for tag page pagination, to solve will_paginate issues (#8326)
  Gemfile
  Gemfile.lock
  app/controllers/tag_controller.rb
  app/helpers/application_helper.rb
  app/views/notes/_notes.html.erb
  app/views/questions/_new_question.html.erb
  app/views/users/_answered.html.erb
  app/views/wiki/_wikis.html.erb
  config/initializers/pagy.rb
Owners: @publiclab/profile-maintainers

Change labeling of /stats contributor counts (#8348)
  config/locales/en.yml
Owners: none

quick fix post https://github.com/publiclab/plots2/pull/8326/
  app/views/wiki/_wikis.html.erb
Owners: none

corresponding changes in main Image module as done in PublicLab.Editor#594 (#8327)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Update home_controller.rb (#8335)
  app/controllers/home_controller.rb
Owners: none

refactor: changed button size (#8314)
  app/views/spam2/_comments.html.erb
Owners: none

Replaced .length with .size in _responses.html.erb (#8341)
  app/views/notes/_responses.html.erb
Owners: none

add more lazyload optimisations (#8339)
  app/views/dashboard/_node_event.html.erb
  app/views/dashboard/_node_wiki.html.erb
  app/views/layouts/_header.html.erb
  app/views/tag/blog.html.erb
Owners: @publiclab/navbar-maintainers
