Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Places added
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

changed checkbox js (#7471)
  app/views/admin/_nodes.html.erb
Owners: none

Places added (#7472)
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

FIX subscription share popover not disappearing (#7386)
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Fixes issue [Fixes [#6734]](https://github.com/publiclab/plots2/issues/6734) (renaming t to translation in layouts/application.html.erb) (#7455)
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

updated_header.html.erb (#7436)
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Updated the function name from t to translation (#7463)
  app/views/tag/show.html.erb
Owners: none

changing all the instances of function t to transition
  app/views/wiki/index.html.erb
Owners: none

changing all the instances of function t to transition.
  app/views/wiki/index.html.erb
Owners: none

Fix bad conflict merge
  config/my.cnf
Owners: none

Change client settings for mysql database
  config/database.yml.example
Owners: @publiclab/database-maintainers

Force proper utf8
  config/my.cnf
Owners: none

Added condition for non admins
  app/views/features/index.html.erb
Owners: none

Added sort_feed method
  app/models/node.rb
Owners: none

Called the method
  app/views/wiki/_wikis.html.erb
Owners: none

fixed styling
  app/models/node.rb
Owners: none

Fixed styling
  app/models/node.rb
Owners: none

Update tag/show such that the counts match the nodes fetched, refs #6855
  app/controllers/tag_controller.rb
  app/models/node.rb
  app/views/tag/show.html.erb
  test/fixtures/node_tags.yml
  test/fixtures/nodes.yml
  test/fixtures/revisions.yml
  test/fixtures/tags.yml
  test/functional/home_controller_test.rb
  test/functional/notes_controller_test.rb
  test/functional/tag_controller_test.rb
  test/unit/api/search_service_test.rb
  test/unit/node_test.rb
Owners: none

Added sort_feature
  app/controllers/features_controller.rb
Owners: none

Called method
  app/views/features/index.html.erb
Owners: none

Update features_controller.rb
  app/controllers/features_controller.rb
Owners: none

Update features_controller.rb
  app/controllers/features_controller.rb
Owners: none

Update useremail.html.erb
  app/views/admin/useremail.html.erb
Owners: none

settings text update
  app/views/users/settings.html.erb
Owners: @publiclab/profile-maintainers

First issue resolved
  app/views/notes/_responses.html.erb
Owners: none

Inline map scrool zoom fixed
  app/views/map/_inlineLeaflet.html.erb
Owners: none

improved
  app/views/map/_inlineLeaflet.html.erb
Owners: none

improved
  app/views/map/_inlineLeaflet.html.erb
Owners: none

changed function t to translation in app/views/wiki/_header.html.erb #7490
  app/views/wiki/_header.html.erb
Owners: none

Reload function added urpm adding location tags
  app/assets/javascripts/tagging.js
Owners: none

IMPROVED: Added If Statement
  app/assets/javascripts/tagging.js
Owners: none

IMPROVED error
  app/assets/javascripts/tagging.js
Owners: none

IMPROVED
  app/assets/javascripts/tagging.js
Owners: none

improves
  app/assets/javascripts/tagging.js
Owners: none

page-number
  app/views/admin/_comments.html.erb
  app/views/admin/_nodes.html.erb
  app/views/admin/_revisions.html.erb
Owners: none

center align
  app/views/admin/_comments.html.erb
  app/views/admin/_nodes.html.erb
  app/views/admin/_revisions.html.erb
Owners: none

added unban
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

added translations
  config/locales/en.yml
Owners: none

margin added (#7448)
  app/views/layouts/_signupLoginModal.html.erb
Owners: @publiclab/navbar-maintainers

Added condition for non admins (#7480)
  app/views/features/index.html.erb
Owners: none
