Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Update _comment_moderate.html.erb
  app/views/dashboard/_comment_moderate.html.erb
Owners: none

Update useremail.html.erb
  app/views/admin/useremail.html.erb
Owners: none

ui-update
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  config/initializers/assets.rb
Owners: none

if-cache
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

Updated <a> tag (#8030).
  app/views/dashboard/_node_comment.html.erb
Owners: none

fix issue #8032
  app/views/tag/_tags.html.erb
Owners: none

travis
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

before action spam2
  app/controllers/spam2_controller.rb
Owners: none

system test issue
  app/views/spam2/_nodes.html.erb
  test/system/spam2_test.rb
Owners: none

delete node test
  app/views/spam2/_nodes.html.erb
  test/system/spam2_test.rb
Owners: none

Fix icon Font awesome error (#8026)
  app/views/layouts/_header.html.erb
  app/views/map/_mapDependencies.html.erb
Owners: @publiclab/navbar-maintainers

string issue
  app/views/spam2/_nodes.html.erb
Owners: none

node path issue
  app/views/spam2/_nodes.html.erb
  test/system/spam2_test.rb
Owners: none

stable revision issue
  app/views/admin/_nodes.html.erb
  app/views/admin/_revisions.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
Owners: none

alright #
  app/views/tag/_tags.html.erb
Owners: none

system tests for spam2
  app/views/spam2/_nodes.html.erb
  test/system/spam2_test.rb
Owners: none

fix icons error by preloading FA 5 first
  app/views/layouts/application.html.erb
  app/views/map/_mapDependencies.html.erb
Owners: @publiclab/navbar-maintainers

margin added if cached
  app/views/spam2/_spam.html.erb
Owners: none

system tests for spam2 (#8038)
  app/views/spam2/_nodes.html.erb
  test/system/spam2_test.rb
Owners: none

fix icons error by preloading FA 5 first (#8041)
  app/views/layouts/application.html.erb
  app/views/map/_mapDependencies.html.erb
Owners: @publiclab/navbar-maintainers

author nill issue
  Gemfile.lock
  app/views/admin/_nodes.html.erb
  app/views/admin/_revisions.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

travis-restart
  app/views/spam2/_spam.html.erb
Owners: none

more
  app/views/tag/show/_header.html.erb
  config/locales/en.yml
Owners: none

final changes i think
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

more work
  app/views/notes/_card.html.erb
  app/views/tag/show.html.erb
  app/views/tag/show/_header.html.erb
  app/views/tag/show/_nav_tabs.html.erb
  app/views/tag/show/_sort.html.erb
  config/locales/en.yml
Owners: none

initial work on tabs
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

margin
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

final tweaks
  app/views/tag/show.html.erb
  config/locales/en.yml
Owners: none

first time
  app/views/tag/_tags.html.erb
Owners: none

lazy load images using lazyload-rails gem
  Gemfile
  app/assets/javascripts/application.js
  app/views/dashboard/_node_default.html.erb
  app/views/dashboard/_node_question.html.erb
  app/views/notes/_card.html.erb
  app/views/notes/show.html.erb
  app/views/questions/show.html.erb
  app/views/users/list.html.erb
  app/views/users/profile.html.erb
  app/views/wiki/_header.html.erb
  app/views/wiki/show.html.erb
  config/initializers/lazyload.rb
  package.json
Owners: @publiclab/profile-maintainers

fix issue #8032 (#8036)
  app/views/tag/_tags.html.erb
Owners: none

spam 2 ui update
  app/assets/stylesheets/spam2.css
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

fixed tests
  test/integration/I18n_test.rb
  test/system/tags_controller_test.rb
Owners: none

Update I18n_test.rb
  test/integration/I18n_test.rb
Owners: none

ui spam2 issues
  app/assets/stylesheets/spam2.css
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

specific coloumn search
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

formatting
  app/views/spam2/_nodes.html.erb
Owners: none

NilClass issue
  Gemfile.lock
  app/views/spam2/_comments.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

Added aria-labels for toggle formats empty links
  app/views/notes/_format_toggle.html.erb
Owners: none

improve accessibility of new note page
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers
