Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

replace leaflet files from assets.rb in questionRich.html and _mapDependencies.html (#7945)
  app/assets/stylesheets/application.css
  app/views/editor/questionRich.html.erb
  app/views/map/_mapDependencies.html.erb
Owners: @publiclab/editor-maintainers

refactor: changed button size (#8314)
  app/views/spam2/_comments.html.erb
Owners: none

Update _node_meta.html.erb (#8309)
  app/views/dashboard/_node_meta.html.erb
Owners: none

Added alerts-container class (#8254)
  app/views/tag/show.html.erb
Owners: none

initial pagy install
  Gemfile
  Gemfile.lock
  app/controllers/tag_controller.rb
  app/helpers/application_helper.rb
  app/views/notes/_notes.html.erb
Owners: none

corresponding changes in main Image module as done in PublicLab.Editor#594
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Replace `.length` with `.size`
  app/views/like/_like.html.erb
Owners: none

Update home_controller.rb
  app/controllers/home_controller.rb
Owners: none

refine print template
  app/controllers/notes_controller.rb
  app/controllers/wiki_controller.rb
  app/views/like/_like.html.erb
Owners: none

add more lazyload optimisations
  app/views/dashboard/_node_event.html.erb
  app/views/dashboard/_node_wiki.html.erb
  app/views/layouts/_header.html.erb
  app/views/tag/blog.html.erb
Owners: @publiclab/navbar-maintainers

Update home_controller.rb (#8335)
  app/controllers/home_controller.rb
Owners: none

Delete .deepsource.toml
  .deepsource.toml
Owners: none

added imagebar
  app/assets/stylesheets/editor.css
  app/views/editor/_editor.html.erb
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

tests for spam2
  app/controllers/batch_controller.rb
  app/controllers/spam2_controller.rb
  app/views/spam2/_revisions.html.erb
  test/functional/batch_controller_test.rb
  test/functional/spam2_controller_test.rb
Owners: none

Replaced .length with .size in _responses.html.erb
  app/views/notes/_responses.html.erb
Owners: none

ui update and bug fixes
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  test/fixtures/comments.yml
  test/system/spam2_test.rb
Owners: none

Change labeling of /stats contributor counts
  config/locales/en.yml
Owners: none

Change labeling of /stats contributor counts (#8348)
  config/locales/en.yml
Owners: none

corresponding changes in main Image module as done in PublicLab.Editor#594 (#8327)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Update app/views/like/_like.html.erb
  app/views/like/_like.html.erb
Owners: none

Update _like.html.erb
  app/views/like/_like.html.erb
Owners: none

minor bug fixes
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_users.html.erb
Owners: none

Insight Section for Spam2 (#8289)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/batch_controller.rb
  app/controllers/spam2_controller.rb
  app/models/node.rb
  app/models/tag.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
  test/fixtures/comments.yml
  test/functional/batch_controller_test.rb
  test/functional/spam2_controller_test.rb
  test/system/spam2_test.rb
Owners: none

Replaced .length with .size in _responses.html.erb (#8341)
  app/views/notes/_responses.html.erb
Owners: none

pagy basic functionality
  app/views/notes/_notes.html.erb
  config/initializers/pagy.rb
Owners: none

other node types
  app/views/questions/_new_question.html.erb
  app/views/users/_answered.html.erb
  app/views/wiki/_wikis.html.erb
Owners: @publiclab/profile-maintainers

refactor of pagy work
  app/controllers/tag_controller.rb
  app/views/notes/_notes.html.erb
  app/views/questions/_new_question.html.erb
  app/views/users/_answered.html.erb
  app/views/wiki/_wikis.html.erb
Owners: @publiclab/profile-maintainers

reorder
  app/controllers/tag_controller.rb
Owners: none

minor bugs fixes
  app/controllers/spam2_controller.rb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
Owners: none

spam2 minor errors
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
Owners: none

Spam2 minor bug fixes (#8352)
  app/controllers/spam2_controller.rb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
Owners: none

initial pagy install for tag page pagination, to solve will_paginate issues (#8326)
  Gemfile
  Gemfile.lock
  app/controllers/tag_controller.rb
  app/helpers/application_helper.rb
  app/views/notes/_notes.html.erb
  app/views/questions/_new_question.html.erb
  app/views/users/_answered.html.erb
  app/views/wiki/_wikis.html.erb
  config/initializers/pagy.rb
Owners: @publiclab/profile-maintainers

quick fix post https://github.com/publiclab/plots2/pull/8326/
  app/views/wiki/_wikis.html.erb
Owners: none

Update _like.html.erb
  app/views/like/_like.html.erb
Owners: none

Update _like.html.erb
  app/views/like/_like.html.erb
Owners: none

add more lazyload optimisations (#8339)
  app/views/dashboard/_node_event.html.erb
  app/views/dashboard/_node_wiki.html.erb
  app/views/layouts/_header.html.erb
  app/views/tag/blog.html.erb
Owners: @publiclab/navbar-maintainers

Update _like.html.erb
  app/views/like/_like.html.erb
Owners: none

Update tag_controller.rb
  app/controllers/tag_controller.rb
Owners: none

Update comment_test.rb
  test/system/comment_test.rb
Owners: none

Update comment_test.rb
  test/system/comment_test.rb
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
