Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

Change sqlmode in gitpod.yml
  .gitpod.yml
Owners: none

Try set sql_mode before
  .gitpod.dockerfile
  config/my.cnf
Owners: none

Revert prior try
  .gitpod.yml
Owners: none

Tweak mysql config
  config/my.cnf
Owners: none

tweak
  config/my.cnf
Owners: none

Tweak
  config/my.cnf
Owners: none

My.cnf
  config/my.cnf
Owners: none

Tweak
  config/my.cnf
Owners: none

tweak
  config/my.cnf
Owners: none

tweak
  config/my.cnf
Owners: none

added message when following tag list is empty in spam2/queue (#8261)
  app/views/dashboard/_node_meta.html.erb
  app/views/spam2/_queue.html.erb
Owners: none

bcc on moderator spam digest email (#8275)
  app/mailers/admin_mailer.rb
Owners: none

Fix comment page wrapping for https://github.com/publiclab/plots2/issues/8287
  app/views/notes/_comment.html.erb
Owners: @publiclab/comment-maintainers

refactor and remove unused code in user controller (#8269)
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

Add tag input field to wiki editor (#8260)
  app/controllers/wiki_controller.rb
  app/views/editor/_tag_input.html.erb
  app/views/wiki/edit.html.erb
Owners: @publiclab/editor-maintainers

eliminate n+1 query of comment parent method (#8267)
  app/controllers/home_controller.rb
Owners: none

eliminate n+1 query of subscription tagname method (#8268)
  app/views/home/subscriptions.html.erb
Owners: none

eliminate n+1 query in questions comments parent method (#8272)
  app/views/questions/show.html.erb
Owners: none

insights for spam2
  app/controllers/spam2_controller.rb
  app/models/node.rb
  app/models/tag.rb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_spam.html.erb
  config/routes.rb
Owners: none

Updated mainImagemodule in Rich
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

change button size (#8256)
  app/views/spam2/_nodes.html.erb
Owners: none

eliminate n+1 queries of tags (#8183)
  app/models/tag.rb
  app/views/tag/_advanced_tagging.html.erb
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
Owners: none

adjust opengraph tag
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Updated mainImagemodule in Rich (#8290)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

added an underline to the choose one link in wiki page image upload form #8175
  app/views/editor/_editor.html.erb
Owners: @publiclab/editor-maintainers

Add .deepsource.toml
  .deepsource.toml
Owners: none

add test for wiki tag input
  test/functional/wiki_controller_test.rb
Owners: none

added an underline to the choose one link in wiki page image upload form #8175 (#8293)
  app/views/editor/_editor.html.erb
Owners: @publiclab/editor-maintainers

Add test for wiki tag input field (#8295)
  test/functional/wiki_controller_test.rb
Owners: none

add print preview template
  app/assets/stylesheets/print_new.css
  app/controllers/notes_controller.rb
  app/controllers/wiki_controller.rb
  app/views/like/_like.html.erb
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
  config/initializers/assets.rb
  config/routes.rb
  test/functional/notes_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

Updated lines on umoderated and flagged
  app/views/spam2/_spam.html.erb
Owners: none

Made fix
  app/views/notes/_comments.html.erb
Owners: @publiclab/comment-maintainers

Made change
  app/views/notes/_comments.html.erb
Owners: @publiclab/comment-maintainers

remove n+1 queries in rss builder
  app/views/notes/rss.rss.builder
  app/views/tag/rss.rss.builder
  app/views/users/rss.rss.builder
Owners: @publiclab/profile-maintainers

refactor methods that lead to n+1 queries
  app/models/node.rb
  app/views/wiki/_header.html.erb
Owners: none

ui changes and refactoring
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_insights.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

refactoring
  app/controllers/spam2_controller.rb
  app/models/node.rb
  app/models/tag.rb
Owners: none

Update _node_meta.html.erb
  app/views/dashboard/_node_meta.html.erb
Owners: none

Update index.html.erb
  app/views/notes/index.html.erb
Owners: none

bootstrap fixes
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
