Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

travis restart 1
  app/views/spam2/_nodes.html.erb
Owners: none

optimise performance of tag_controller stats
  app/controllers/tag_controller.rb
  app/views/tag/stats.html.erb
Owners: none

This will set the current Sentry environment to the docker-compose project instead of RAILS_ENV. (#7796)
  config/application.rb
Owners: none

Try fixing travis
  .travis.yml
  Gemfile.lock
Owners: none

Try fixing travis (#8085)
  .travis.yml
  Gemfile.lock
Owners: none

Dummy PR
  README.md
Owners: none

Revert "Try fixing travis (#8085)"
  .travis.yml
  Gemfile.lock
Owners: none

add travis caching directory
  .travis.yml
Owners: none

add travis caching directory (#8086)
  .travis.yml
Owners: none

replaced delete alert text in app with new alert message (#7992)
  app/views/like/_like.html.erb
  test/system/post_test.rb
Owners: none

Updated <a> tag (#8030). (#8035)
  app/views/dashboard/_node_comment.html.erb
Owners: none

Added aria-labels for toggle formats empty links (#8051)
  app/views/notes/_format_toggle.html.erb
Owners: none

Update useremail.html.erb (#8033)
  app/views/admin/useremail.html.erb
Owners: none

tooltips added
  app/views/spam2/_spam.html.erb
Owners: none

add button for documenting editor bugs
  app/assets/stylesheets/editor.css
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

replace leaflet files from assets.rb in questionRich.html and _mapDependencies.html
  app/assets/stylesheets/application.css
  app/views/editor/questionRich.html.erb
  app/views/map/_mapDependencies.html.erb
  config/initializers/assets.rb
Owners: @publiclab/editor-maintainers

adjust editor 'bug report' btn position
  app/assets/stylesheets/editor.css
Owners: none

replace leaflet css/js files in editor rich
  app/views/editor/rich.html.erb
  config/initializers/assets.rb
Owners: @publiclab/editor-maintainers

optimize query wiki_controller
  app/views/wiki/_wikis.html.erb
Owners: none

formatting of spam2
  app/assets/stylesheets/spam2.css
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

IMPROVE: _comments.html.erb
  app/views/spam2/_comments.html.erb
Owners: none

formatting of spam2
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
Owners: none

author color
  app/views/spam2/_nodes.html.erb
Owners: none

add button for documenting editor bugs (#8083)
  app/assets/stylesheets/editor.css
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

optimise performance of notes_controller#recent (#8071)
  app/views/notes/_card.html.erb
Owners: none

Spam2: pagination added (#8063)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

Update bundler to 2
  Gemfile.lock
Owners: none

Added aria-label for empty link .
  app/views/dashboard/_node_question.html.erb
Owners: none

Spam2: Digest for Unmoderated posts with settings (#8058)
  app/controllers/admin_controller.rb
  app/controllers/users_controller.rb
  app/jobs/digest_spam_job.rb
  app/mailers/admin_mailer.rb
  app/models/user.rb
  app/views/admin_mailer/send_digest_spam.html.erb
  app/views/users/profile.html.erb
  app/views/users/settings.html.erb
  config/routes.rb
  config/schedule.rb
  test/functional/admin_controller_test.rb
Owners: @publiclab/profile-maintainers

more master => main changes
  .github/ISSUE_TEMPLATE/--weekly-check-in.md
  .travis.yml
  CONTRIBUTING.md
  Dangerfile
  README.md
  app/controllers/application_controller.rb
  doc/API.md
  doc/DATA_MODEL.md
  doc/EMAIL.md
  doc/LOGIN_SYSTEMS.md
  doc/OPENID.md
  doc/TESTING.md
  doc/reply_by_tweet.md
Owners: none

Update _node_meta.html.erb
  app/views/dashboard/_node_meta.html.erb
Owners: none

more master => main changes (#8096)
  .github/ISSUE_TEMPLATE/--weekly-check-in.md
  .travis.yml
  CONTRIBUTING.md
  Dangerfile
  README.md
  app/controllers/application_controller.rb
  doc/API.md
  doc/DATA_MODEL.md
  doc/EMAIL.md
  doc/LOGIN_SYSTEMS.md
  doc/OPENID.md
  doc/TESTING.md
  doc/reply_by_tweet.md
Owners: none

display methods in grid upon filtering
  app/assets/javascripts/methods.js
Owners: none

display methods in grid upon filtering (#8099)
  app/assets/javascripts/methods.js
Owners: none

Manually tweak Gemfile.lock
  Gemfile.lock
Owners: none

Update bundler before bundle install
  Dockerfile
Owners: none

Set new bundler as default
  Dockerfile
Owners: none

Update Rubygems
  Dockerfile
Owners: none

Add env variable pointing to right bundler
  Dockerfile
Owners: none

Try different order for bundle installation
  Dockerfile
Owners: none
