Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

Added aria-label for empty link . (#8095)
  app/views/dashboard/_node_question.html.erb
Owners: none

Update Gems before and after bundle install
  Dockerfile
Owners: none

adding tagname to tag page card, defaulting title to wiki title
  app/views/tag/show.html.erb
Owners: none

Add newer rake gem in container
  Dockerfile
Owners: none

Tweak rake version
  Dockerfile
  Gemfile
  Gemfile.lock
Owners: none

adding tagname to tag page card, defaulting title to wiki title (#8102)
  app/views/tag/show.html.erb
Owners: none

Fix Gemfile with a generated version
  Gemfile.lock
Owners: none

Try to call update gems only once
  Dockerfile
Owners: none

Revert Gemfile.lock to manually tweaked
  Gemfile.lock
Owners: none

Revert Gemfile.lock
  Gemfile.lock
Owners: none

Another try to update rake
  Dockerfile
  Gemfile
  Gemfile.lock
Owners: none

Add bundle exec prefix
  Makefile
Owners: none

Add automated redeploy make task
  Makefile
Owners: none

Update bundler before bundle install (#8101)
  Dockerfile
  Makefile
Owners: none

Update _node_meta.html.erb (#8097)
  app/views/dashboard/_node_meta.html.erb
Owners: none

added aria labels for empty links in app/view/dashboard/_node_event.html.erb
  app/views/dashboard/_node_event.html.erb
Owners: none

Change Dockerfile context path
  Makefile
  containers/docker-compose-unstable.yml
Owners: none

Update docker-compose-stable.yml
  containers/docker-compose-stable.yml
Owners: none

Update docker-compose-production.yml
  containers/docker-compose-production.yml
Owners: none

Revert makefile
  Makefile
Owners: none

Tweak production port
  containers/docker-compose-production.yml
Owners: none

Remove pid removal (it's in start.sh now)
  Makefile
Owners: none

Remove `command` from compose files (#8111)
  Makefile
  containers/docker-compose-production.yml
  containers/docker-compose-stable.yml
  containers/docker-compose-unstable.yml
Owners: none

added aria labels for empty links in app/view/dashboard/_node_event.html.erb (#8109)
  app/views/dashboard/_node_event.html.erb
Owners: none

optimise performance of tag_controller stats (#8076)
  app/controllers/tag_controller.rb
  app/views/tag/stats.html.erb
Owners: none

optimize query wiki_controller (#8088)
  app/views/wiki/_wikis.html.erb
Owners: none

add environments to skylight
  config/application.rb
  config/environments/staging.rb
  config/environments/staging_unstable.rb
Owners: none

replace leaflet css/js files in editor rich (#8087)
  app/views/editor/rich.html.erb
  config/initializers/assets.rb
Owners: @publiclab/editor-maintainers

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

tooltip for tag page tagname badge
  app/views/tag/show.html.erb
Owners: none

Add database env vars
  config/database.yml.example
  containers/docker-compose-production.yml
  containers/docker-compose-stable.yml
  containers/docker-compose-testing.yml
  containers/docker-compose-unstable.yml
Owners: @publiclab/database-maintainers

Fallback db socket
  config/database.yml.example
Owners: @publiclab/database-maintainers

Drop DB_SOCKET
  containers/docker-compose-production.yml
  containers/docker-compose-stable.yml
  containers/docker-compose-testing.yml
  containers/docker-compose-unstable.yml
Owners: none

Drop DB_SOCKET
  config/database.yml.example
Owners: @publiclab/database-maintainers

Add DB_PORT
  config/database.yml.example
Owners: @publiclab/database-maintainers

Add .env to be able to pass variables to docker-compose
  .env
Owners: none

Update _comments.html.erb
  app/views/notes/_comments.html.erb
Owners: @publiclab/comment-maintainers

Fix typo and remove .env
  .env
  config/database.yml.example
Owners: @publiclab/database-maintainers

Try setting up GitPod.io
  .gitpod.yml
Owners: none

Update .gitpod.yml
  .gitpod.yml
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
