Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

Update I18n_test.rb
  test/integration/I18n_test.rb
Owners: none

Update show.html.erb (#8056)
  app/views/tag/show.html.erb
Owners: none

menu btn changed
  app/assets/stylesheets/spam2.css
  app/views/spam2/_spam.html.erb
Owners: none

tests and alerts in spam2
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  test/system/spam2_test.rb
Owners: none

node nill error
  app/views/spam2/_comments.html.erb
  app/views/spam2/_revisions.html.erb
Owners: none

func tests error
  app/views/spam2/_comments.html.erb
  app/views/spam2/_revisions.html.erb
Owners: none

stable error
  app/assets/stylesheets/spam2.css
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

digest for unmoderated posts
  app/controllers/admin_controller.rb
  app/controllers/users_controller.rb
  app/jobs/digest_spam_job.rb
  app/mailers/admin_mailer.rb
  app/models/user.rb
  app/views/admin_mailer/send_digest_spam.html.erb
  app/views/users/profile.html.erb
  app/views/users/settings.html.erb
  config/routes.rb
  config/schedule.rb
  test/functional/admin_controller_test.rb
Owners: @publiclab/profile-maintainers

diegst
  app/controllers/users_controller.rb
  app/jobs/digest_spam_job.rb
Owners: @publiclab/profile-maintainers

tag indentation
  app/jobs/digest_spam_job.rb
Owners: none

final tweaks, removing smaller stats display
  app/views/tag/_contributors.html.erb
  app/views/tag/show.html.erb
  app/views/tag/show/_nav_tabs.html.erb
  app/views/tag/show/_sort.html.erb
Owners: none

Reflect IP change in production docker service.
  Makefile
Owners: none

Reflect IP change in production docker service. (#8060)
  Makefile
Owners: none

tag page tab overhaul, removing sidebar, styling/spacing tweaks (#8046)
  app/views/notes/_card.html.erb
  app/views/tag/_contributors.html.erb
  app/views/tag/show.html.erb
  app/views/tag/show/_header.html.erb
  app/views/tag/show/_nav_tabs.html.erb
  app/views/tag/show/_sort.html.erb
  config/locales/en.yml
  test/integration/I18n_test.rb
  test/system/tags_controller_test.rb
Owners: none

hide counts on xs size in tag page navbar tabs
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

improve accessibility of new question route (#8028)
  app/views/editor/questionRich.html.erb
Owners: @publiclab/editor-maintainers

lazy load images using lazyload-rails gem (#8043)
  Gemfile
  app/assets/javascripts/application.js
  app/views/dashboard/_node_default.html.erb
  app/views/dashboard/_node_question.html.erb
  app/views/notes/_card.html.erb
  app/views/notes/show.html.erb
  app/views/questions/show.html.erb
  app/views/users/list.html.erb
  app/views/users/profile.html.erb
  app/views/wiki/_header.html.erb
  app/views/wiki/show.html.erb
  config/initializers/lazyload.rb
  package.json
Owners: @publiclab/profile-maintainers

improve accessibility of new note page (#8054)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

spam2 ui update
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

spam2 stable issues, UI update and modals added (#8034)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  config/initializers/assets.rb
  test/system/spam2_test.rb
Owners: none

fix profile location selection
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Update _location.html.erb
  app/views/tag/_location.html.erb
Owners: none

Update profile.html.erb
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Update _location.html.erb
  app/views/tag/_location.html.erb
Owners: none

Update _location.html.erb
  app/views/tag/_location.html.erb
Owners: none

Update profile.html.erb
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Update _location.html.erb
  app/views/tag/_location.html.erb
Owners: none

fix profile location selection (#8062)
  app/views/tag/_location.html.erb
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

pagination added
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
Owners: none

indentation
  app/assets/javascripts/spam2.js
  app/controllers/spam2_controller.rb
Owners: none

spam2 digest admins
  app/views/users/settings.html.erb
Owners: @publiclab/profile-maintainers

pagination of spam2
  app/controllers/spam2_controller.rb
Owners: none

indentation
  app/controllers/spam2_controller.rb
Owners: none

optimise performance of notes_controller#recent
  app/views/notes/_card.html.erb
Owners: none

optimise performance of tag_controller show
  app/controllers/tag_controller.rb
Owners: none

spam2 pagination
  app/controllers/spam2_controller.rb
  app/views/spam2/_nodes.html.erb
Owners: none

optimise performance of tag_controller show (#8073)
  app/controllers/tag_controller.rb
Owners: none

more pagination feature added
  app/assets/javascripts/spam2.js
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
Owners: none

travis restart
  app/views/spam2/_spam.html.erb
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
