Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

changed condition to accept all image types
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

removing the insert image modal
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

toolbar repositioning
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

interface improvement
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

file upload condition
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

initial commit
  app/assets/javascripts/editor.js
  app/views/editor/_editor.html.erb
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

test fix
  app/views/editor/_editor.html.erb
Owners: @publiclab/editor-maintainers

Updated node.rb
  app/models/node.rb
Owners: none

replace .length with .size method
  app/views/notes/show.html.erb
Owners: none

Made change (#8305)
  app/views/notes/_comments.html.erb
Owners: @publiclab/comment-maintainers

Update index.html.erb
  app/views/notes/index.html.erb
Owners: none

refactor: changed button size
  app/views/spam2/_comments.html.erb
Owners: none

redifined structure for image upload
  app/assets/stylesheets/editor.css
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

minify leaflet scripts using uglifier (#8159)
  config/environments/production.rb
Owners: none

remove n+1 queries in rss builder (#8306)
  app/views/notes/rss.rss.builder
  app/views/tag/rss.rss.builder
  app/views/users/rss.rss.builder
Owners: @publiclab/profile-maintainers

remove duplicate from assets.rb already present in application.js
  app/views/admin/assets.html.erb
  config/initializers/assets.rb
Owners: none

Load critical css and rest asynchronously
  Gemfile
  app/assets/javascripts/application.js
  app/views/layouts/application.html.erb
  config/critical_path_css.yml
  lib/tasks/critical_path_css.rake
Owners: @publiclab/navbar-maintainers

Try reducing Gitpod errors by adding redis (#8162)
  .gitpod.dockerfile
  .gitpod.yml
Owners: none

relabel "beta"
  app/views/like/_like.html.erb
Owners: none

replace .length with .size method (#8312)
  app/views/notes/show.html.erb
Owners: none

Updated node.rb (#8311)
  app/models/node.rb
Owners: none

Update index.html.erb (#8313)
  app/views/notes/index.html.erb
Owners: none

remove duplicate from assets.rb already present in application.js (#7958)
  app/views/admin/assets.html.erb
  config/initializers/assets.rb
Owners: none

Load critical css and rest asynchronously (#7996)
  Gemfile
  app/assets/javascripts/application.js
  app/views/layouts/application.html.erb
  config/critical_path_css.yml
  lib/tasks/critical_path_css.rake
Owners: @publiclab/navbar-maintainers

wip: add print preview template (#8292)
  app/assets/stylesheets/print_new.css
  app/controllers/notes_controller.rb
  app/controllers/wiki_controller.rb
  app/views/like/_like.html.erb
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
  config/initializers/assets.rb
  config/routes.rb
  test/functional/notes_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

Revert "Load critical css and rest asynchronously (#7996)"
  Gemfile
  app/assets/javascripts/application.js
  app/views/layouts/application.html.erb
  config/critical_path_css.yml
  lib/tasks/critical_path_css.rake
Owners: @publiclab/navbar-maintainers

try fixing travis
  .travis.yml
Owners: none

try fixing travis (#8322)
  .travis.yml
Owners: none

adjust opengraph tag
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

adjust opengraph tag
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Update app/views/layouts/application.html.erb
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Update app/views/layouts/application.html.erb
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Update app/views/layouts/application.html.erb
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

adjust opengraph tag to show scrapped image
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Update .gitpod.dockerfile
  .gitpod.dockerfile
Owners: none

update .travis.yml to stop deleting cache
  .travis.yml
Owners: none

Adjust opengraph tag to show scrapped image (#8284)
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Update .gitpod.dockerfile (#8320)
  .gitpod.dockerfile
Owners: none

update .travis.yml to stop deleting cache (#8323)
  .travis.yml
Owners: none

Replaced count with size
  app/controllers/home_controller.rb
Owners: none
