Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

set up gitpod builds for every PR (#8145)
  .gitpod.dockerfile
  .gitpod.yml
  .travis.yml
  Gemfile
  Gemfile.lock
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

Update README.md
  README.md
Owners: none

Spam2: Unmoderated Digest UI update (#8130)
  app/models/user.rb
  app/views/admin_mailer/send_digest_spam.html.erb
Owners: none

Upgrade Ruby version (#8165)
  Dockerfile
Owners: none

improve accessibility of wiki show and new wiki (#7989)
  app/views/editor/_editor.html.erb
  app/views/editor/_main_image.html.erb
  app/views/editor/_toolbar.html.erb
  app/views/wiki/_header.html.erb
  app/views/wiki/edit.html.erb
Owners: @publiclab/editor-maintainers

replace esri cdn link with minified cdn (#8164)
  app/views/map/_mapDependencies.html.erb
Owners: none

fix tag_selection_test using timecop (#8168)
  test/unit/tag_selection_test.rb
Owners: none

Added aria-label for empty link in /questions route (#8013)
  app/views/questions/show.html.erb
Owners: none

Center the project images on the Home page (#8169)
  app/views/home/home.html.erb
Owners: none

add environments to skylight (#8104)
  config/application.rb
  config/environments/staging.rb
  config/environments/staging_unstable.rb
Owners: none

Spam2: system for flagging nodes and comments to moderators and User moderation (#8107)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/admin_controller.rb
  app/controllers/spam2_controller.rb
  app/models/comment.rb
  app/models/node.rb
  app/views/comments/_comments.html.erb
  app/views/dashboard/_node_meta.html.erb
  app/views/like/_like.html.erb
  app/views/notes/_comment.html.erb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
  db/migrate/20200705143706_add_flag_to_node.rb
  db/migrate/20200705161259_add_flag_to_comments.rb
  db/schema-drupal.rb
  db/schema.rb.example
  test/fixtures/nodes.yml
  test/functional/spam2_controller_test.rb
  test/system/dashboard_test.rb
  test/system/spam2_test.rb
Owners: @publiclab/comment-maintainers, @publiclab/database-maintainers

fixing GitPod mysql db, and try opening rails console in a gitpod terminal (#8152)
  .gitpod.yml
  app/controllers/users_controller.rb
  app/controllers/wiki_controller.rb
  app/models/node.rb
  app/models/tag.rb
Owners: @publiclab/profile-maintainers

Fixes parsing multiple subscription signup #8166 (#8176)
  app/controllers/subscription_controller.rb
Owners: none

Fixing gitpod db group calls (#8178)
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

try fixing travis (#8200)
  .travis.yml
  test/application_system_test_case.rb
Owners: none

Delete scroll-func.js
  scroll-func.js
Owners: none

remove n+1 query from user#tagnames method (#8190)
  app/models/user.rb
Owners: none

remove n+1 query from revision#path method (#8191)
  app/controllers/home_controller.rb
Owners: none

Updated Readme (#8192)
  README.md
Owners: none

Replaced .count or .length with .size (#8210)
  app/models/concerns/statistics.rb
Owners: none

dashboard sql exception (#8203)
  app/models/tag.rb
Owners: none

Replaced .length and .count on stats controller with .size (#8214)
  app/controllers/stats_controller.rb
Owners: none

replaced .length with .size in spam controller (#8217)
  app/controllers/spam2_controller.rb
Owners: none

add related tags under a plus symbol
  app/assets/stylesheets/profile.css
  app/views/tag/_topicCard.html.erb
  app/views/tag/show.html.erb
Owners: none

add placeholder to text box in editor L224 (#8181)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

related topics line break tweak
  app/views/tag/show.html.erb
Owners: none

Replaced .count and .length in comment model with .size (#8219)
  app/models/comment.rb
Owners: @publiclab/comment-maintainers

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

Replaced .count and .length in user model with .size #8206 Issue reso… (#8227)
  app/models/user.rb
Owners: none

Fix tag_controller failing test (#8228)
  app/views/tag/show.html.erb
Owners: none

paginate tag page listings (#8243)
  app/controllers/tag_controller.rb
Owners: none

Update _graph.html.erb
  app/views/tag/_graph.html.erb
Owners: none

Delete _related_tags.html.erb (#8247)
  app/views/tag/show/_related_tags.html.erb
Owners: none

Update _topicCard.html.erb
  app/views/tag/_topicCard.html.erb
Owners: none

topic card count fixes for #7965 (#8249)
  app/models/node_tag.rb
  app/models/tag.rb
  app/views/tag/_topicCard.html.erb
  config/locales/en.yml
Owners: none

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

Fixes to tag counting logic (#8245)
  app/models/tag.rb
  test/unit/tag_test.rb
Owners: none

Don't let newcomers edit wiki pages (controller-level) (#8250)
  app/controllers/wiki_controller.rb
  test/functional/wiki_controller_test.rb
Owners: none

Spam2: Moderator's Queue feature (#8196)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/batch_controller.rb
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
  test/functional/batch_controller_test.rb
  test/functional/spam2_controller_test.rb
Owners: none

update _flags.html.erb (#8237)
  app/views/spam2/_flags.html.erb
Owners: none
