Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Updated @wikis
  app/controllers/subscription_controller.rb
Owners: none

Called wikis
  app/views/wiki/_wikis.html.erb
Owners: none

added tests for sort
  test/functional/subscription_controller_test.rb
Owners: none

added likes
  test/fixtures/nodes.yml
Owners: none

updated test by likes
  test/functional/subscription_controller_test.rb
Owners: none

added drupal_node
  app/models/node.rb
Owners: none

added space
  app/models/node.rb
Owners: none

Change profile text
  app/controllers/users_controller.rb
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Change wiki_controller#author
  app/controllers/wiki_controller.rb
  config/locales/en.yml
  test/functional/wiki_controller_test.rb
Owners: none

Change notes/author text to show the number of notes
  app/views/notes/index.html.erb
  config/locales/en.yml
Owners: none

Changed feature
  test/fixtures/nodes.yml
Owners: none

fixed features call
  app/controllers/features_controller.rb
Owners: none

called @features
  app/views/features/index.html.erb
Owners: none

Added tests for sorting
  test/functional/features_controller_test.rb
Owners: none

added space
  app/controllers/features_controller.rb
Owners: none

modified sort
  app/controllers/features_controller.rb
Owners: none

added last edited
  app/models/node.rb
Owners: none

changed time
  test/fixtures/nodes.yml
Owners: none

added test for last edited
  test/functional/subscription_controller_test.rb
Owners: none

Update node.rb
  app/models/node.rb
Owners: none

Update _new_question.html.erb
  app/views/questions/_new_question.html.erb
Owners: none

Text disappearance in small screen solved
  app/assets/stylesheets/style.css
Owners: none

d-none class removed
  app/assets/stylesheets/style.css
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Error Removed
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Update _related.html.erb
  app/views/sidebar/_related.html.erb
Owners: none

Notes >> arranged
  app/views/tag/_contributors.html.erb
Owners: none

fix inline map errors with using new LEL 2.2.1, add plpeople to /map and /people
  app/assets/javascripts/leaflet_helper.js
  app/views/map/_inlineLeaflet.html.erb
  app/views/map/_mapDependencies.html.erb
  app/views/map/_peopleLeaflet.html.erb
  app/views/map/map.html.erb
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

move subscription popover javascript fix to subscription page to prevent it interfering with maps
  app/views/home/subscriptions.html.erb
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

wiki table header
  app/views/tag/show/_tab_content.html.erb
Owners: none

Reload fucntion added upon adding location tags (#7520)
  app/assets/javascripts/tagging.js
  test/system/post_test.rb
Owners: none

empty table header
  app/views/tag/show/_tab_content.html.erb
Owners: none

calculate lat, lon, zoom for people map using global or local variable
  app/controllers/users_controller.rb
  app/views/map/_peopleLeaflet.html.erb
Owners: @publiclab/profile-maintainers

Coloum named following added for eye icon
  app/views/tag/_contributors.html.erb
Owners: none

fix bug where map popup doesn't show on inline maps
  app/assets/stylesheets/map.css
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

fix codeclimate error
  app/assets/javascripts/leaflet_helper.js
Owners: none

change t to translation
  app/views/wiki/edit.html.erb
Owners: none

change additional t to translation
  app/views/wiki/edit.html.erb
Owners: none

fix:horizontal scroll for community projects in homepage
  app/views/home/home.html.erb
Owners: none

added the number of users for search
  app/views/admin/useremail.html.erb
Owners: none

Showing number of results found in email search
  app/views/admin/useremail.html.erb
Owners: none
