Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Updated Translations (#7692)
  app/views/notes/show.html.erb
Owners: none

I have updated translation on users/photo
  app/views/users/_photo.html.erb
Owners: @publiclab/profile-maintainers

I have updated translation on users/photo (#7779)
  app/views/users/_photo.html.erb
Owners: @publiclab/profile-maintainers

Change function t to translation in app/views/notes/_coauthored_notes.html.erb
  app/views/notes/_coauthored_notes.html.erb
Owners: none

Change function t to translation in app/views/dashboard/_wiki.html.erb
  app/views/dashboard/_wiki.html.erb
Owners: none

Update _card.html.erb
  app/views/notes/_card.html.erb
Owners: none

Change function t to translation in app/views/notes/_coauthored_notes.html.erb (#7782)
  app/views/notes/_coauthored_notes.html.erb
Owners: none

Change function t to translation in app/views/dashboard/_wiki.html.erb (#7781)
  app/views/dashboard/_wiki.html.erb
Owners: none

Add "choose page" to add a note, question or wiki at a location (#7569)
  app/assets/stylesheets/map.css
  app/views/editor/choose.html.erb
  app/views/map/map.html.erb
  config/routes.rb
Owners: @publiclab/editor-maintainers

Inline map scroll zoom fixed (#7489)
  app/views/map/_inlineLeaflet.html.erb
  app/views/map/_plainInlineLeaflet.html.erb
Owners: none

Fix tag suggestions to show all relevant ones (#7338)
  app/models/tag.rb
  app/views/home/subscriptions.html.erb
Owners: none

fix:horizontal scroll for community projects in homepage (#7553)
  app/views/home/home.html.erb
Owners: none

bootstrap classes integration
  app/assets/stylesheets/editor.css
Owners: none

Update _card.html.erb
  app/views/notes/_card.html.erb
Owners: none

fix google search
  app/views/search/google.html.erb
Owners: none

add leaflet-gplaces-autocomplete
  app/views/map/_mapDependencies.html.erb
Owners: none

optimize people api in search_service.rb
  app/services/search_service.rb
Owners: none

adding .limit(limit)
  app/services/search_service.rb
Owners: none

This will set the current Sentry environment to the docker-compose project instead of RAILS_ENV.
  config/application.rb
Owners: none

fix translation()
  app/views/sidebar/_related.html.erb
Owners: none

added btn-xs
  app/assets/stylesheets/editor.css
Owners: none

t to translation Closes #7728
  app/views/notes/_card.html.erb
Owners: none

Change-t-to-translation Closes #7728
  app/views/notes/_card.html.erb
Owners: none

Fix incorrect tag count in /tags route
  app/models/tag.rb
  app/views/tag/_topicCard.html.erb
Owners: none

Added remove admin option
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Modified demote_basic
  app/controllers/admin_controller.rb
Owners: none

Modify
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Fixed styling
  app/controllers/admin_controller.rb
Owners: none

Signup form validation
  app/assets/javascripts/validation.js
  app/views/users/_create_form.html.erb
  test/system/signup_form_test.rb
Owners: @publiclab/profile-maintainers

following table aligned (#7331)
  app/views/tag/_contributors.html.erb
Owners: none

changed the drop-down follow btn text color to white
  app/views/tag/_tags_popover.html.erb
Owners: none

Fix incorrect tag count in /tags route (#7609)
  app/models/tag.rb
  app/views/tag/_topicCard.html.erb
Owners: none

revert translation change within HTML tag attributes
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Update _header.html.erb
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

revert translation change within HTML tag attributes (#7815)
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

fix translation string
  app/views/sidebar/_dashboard.html.erb
Owners: none

add user_tags.value to address ambiguity
  app/services/search_service.rb
Owners: none

remove first .limit()
  app/services/search_service.rb
Owners: none

optimize people api in search_service.rb (#7795)
  app/services/search_service.rb
Owners: none

Wiki page translation fix
  app/views/grids/_wikis.html.erb
Owners: none
