Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Following and Followers page UI (#8372)
  app/controllers/users_controller.rb
  app/views/users/show_follow.html.erb
  config/routes.rb
Owners: @publiclab/profile-maintainers

add pagy for all wiki routes (#8428)
  app/controllers/application_controller.rb
  app/controllers/wiki_controller.rb
  app/views/wiki/revisions.html.erb
  test/system/screenshots_test.rb
Owners: none

Remove Geokit gem (#8437)
  Gemfile
  app/models/drupal_content_type_map.rb
Owners: none

add pagy for likes (#8442)
  app/controllers/like_controller.rb
  app/controllers/users_controller.rb
  app/views/like/index.html.erb
  config/initializers/pagy.rb
Owners: @publiclab/profile-maintainers

follow-popover (#8439)
  app/views/tag/show.html.erb
Owners: none

blog paginate -> pagy (#8446)
  app/controllers/tag_controller.rb
  app/views/tag/blog.html.erb
Owners: none

Migrate to pagy completely for notes' pagination (#8429)
  app/controllers/notes_controller.rb
  app/views/notes/_coauthored_notes.html.erb
  app/views/notes/_draft_notes.html.erb
Owners: none

migrated to pagy for question related resources (#8445)
  app/controllers/questions_controller.rb
  app/views/questions/_new_question.html.erb
  app/views/questions/_questions.html.erb
Owners: none

Signup form validation (#7768)
  app/assets/javascripts/validation.js
  app/views/users/_create_form.html.erb
  test/system/signup_form_test.rb
Owners: @publiclab/profile-maintainers

remove signup system test (#8465)
  test/system/signup_form_test.rb
Owners: none

Fixes failing signup system test on travis (#8461)
  test/system/signup_form_test.rb
Owners: none

Empty Spamaway test for new user (#8469)
  test/system/signup_spamaway_test.rb
Owners: none

comment-error-msg (#8456)
  app/assets/javascripts/comment.js
  app/controllers/comment_controller.rb
Owners: @publiclab/comment-maintainers

add pagy for map_controller (#8454)
  app/controllers/map_controller.rb
  app/views/map/_maps.html.erb
Owners: none

add pagy for search profile and tag method (#8458)
  app/controllers/search_controller.rb
  app/views/search/profiles.html.erb
  app/views/search/tags.html.erb
Owners: none

modify print layout (#8473)
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
Owners: none

Rename answered to recently commented (#7257)
  app/controllers/questions_controller.rb
  app/views/questions/index.html.erb
  config/routes.rb
  test/functional/questions_controller_test.rb
Owners: none

change stale bot to use pulls only (#8476)
  .github/stale.yml
Owners: none

Sign up form validation test (#8468)
  test/system/signup_form_test.rb
Owners: none

Probot app to close stale branches (#8383)
  .github/stale.yml
Owners: none

add "in-progress" label for stalebot
  .github/stale.yml
Owners: none

test 'incomplete spamaway test does not create new user record', and fix users controller to prevent user creation in this scenario (#8467)
  app/controllers/users_controller.rb
  test/integration/signup_flow_test.rb
Owners: @publiclab/profile-maintainers

Remove grey/green checkboxes (#8471)
  app/models/node.rb
  app/views/grids/_notes.html.erb
  test/unit/node_test.rb
Owners: none

empty wiki table header (#7542)
  app/views/tag/show/_tab_content.html.erb
Owners: none

Allow bio updation without current password and add unit test. (#7806)
  app/controllers/users_controller.rb
  test/functional/users_controller_test.rb
Owners: @publiclab/profile-maintainers

select all button (#7527)
  app/assets/javascripts/dashboard.js
Owners: none

Update stale.yml
  .github/stale.yml
Owners: none

issue 8500 solved (#8514)
  app/views/users/likes.html.erb
Owners: @publiclab/profile-maintainers

Remove redundanttime text (#8503)
  app/views/notes/_card.html.erb
Owners: none

Added Home tooltip to Public Lab link in navbar (#8504)
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

update ruby version for rvm install in /doc/PREQUISITES.md (#8502)
  doc/PREREQUISITES.md
Owners: none

tooltip-max-width in wiki.css (#8540)
  app/assets/stylesheets/wiki.css
Owners: none

Update/modernize form error display for Map forms
  app/views/map/edit.html.erb
Owners: none
