Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Configure Uglifier gem to minify js
  config/environments/production.rb
Owners: none

Minify bootstrap slider script and add defer tag
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

sorted tags
  app/controllers/stats_controller.rb
  app/views/stats/subscriptions.html.erb
Owners: none

sort subscription tags
  app/controllers/stats_controller.rb
  app/views/stats/subscriptions.html.erb
Owners: none

sort subscription tags (#7941)
  app/controllers/stats_controller.rb
  app/views/stats/subscriptions.html.erb
Owners: none

bulk moderation
  app/assets/stylesheets/spam.css
  app/controllers/admin_controller.rb
  app/views/admin/_comments.html.erb
  app/views/admin/_nodes.html.erb
  app/views/admin/_revisions.html.erb
  app/views/admin/spam.html.erb
  config/routes.rb
Owners: none

comment view changed
  app/assets/javascripts/datatables.js
  app/controllers/admin_controller.rb
  app/views/admin/_comments.html.erb
Owners: none

batch_publish
  app/controllers/admin_controller.rb
Owners: none

remove cdn links from new.html.erb which are available from asset pipeline
  app/views/csvfiles/new.html.erb
Owners: none

Emails displayed in same thread.
  app/mailers/comment_mailer.rb
  app/mailers/subscription_mailer.rb
Owners: none

Replace t to trasnslation
  app/views/notes/_card.html.erb
Owners: none

add check-in template
  .github/ISSUE_TEMPLATE/--weekly-check-in.md
Owners: none

responsive
  app/assets/stylesheets/spam.css
  app/views/admin/_nodes.html.erb
  app/views/admin/spam.html.erb
Owners: none

responsive_view
  app/assets/stylesheets/spam.css
Owners: none

Update README.md
  README.md
Owners: none

move digest links
  app/views/home/subscriptions.html.erb
Owners: none

Update _header.html.erb
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

move digest links (#7951)
  app/views/home/subscriptions.html.erb
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

responsive_nav
  app/assets/stylesheets/spam.css
  app/views/admin/spam.html.erb
Owners: none

Change 'discussing' to 'following' on tag pages
  app/views/tag/show/_header.html.erb
Owners: none

Update _header.html.erb
  app/views/tag/show/_header.html.erb
Owners: none

Change 'discussing' to 'following' on tag pages (#7952)
  app/views/tag/show/_header.html.erb
Owners: none

fix hyphenation in tags search
  app/assets/javascripts/restful_typeahead.js
Owners: none

Update _sorting.html.erb
  app/views/tag/_sorting.html.erb
Owners: none

fix hyphenation in tags search (#7954)
  app/assets/javascripts/restful_typeahead.js
  app/views/tag/_sorting.html.erb
Owners: none

fixes for subscription stats caching and counting
  app/controllers/stats_controller.rb
  app/views/stats/subscriptions.html.erb
Owners: none

fixes for subscription stats caching and counting (#7955)
  app/controllers/stats_controller.rb
  app/views/stats/subscriptions.html.erb
Owners: none

spam2
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  app/assets/javascripts/datatables.js
  app/assets/stylesheets/application.css
  app/assets/stylesheets/datatables.css
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/helpers/spam2_helper.rb
  app/views/admin/assets.html.erb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/spam.html.erb
  config/initializers/assets.rb
  config/routes.rb
  test/functional/spam2_controller_test.rb
Owners: none

batch_ban
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/spam.html.erb
  config/routes.rb
Owners: none

color_issue
  app/assets/stylesheets/spam2.css
Owners: none

responsive
  app/assets/javascripts/datatables.js
  app/assets/stylesheets/datatables.css
Owners: none

test
  test/functional/spam2_controller_test.rb
Owners: none

codeclimate
  app/controllers/spam2_controller.rb
Owners: none

coede_climate
  app/controllers/spam2_controller.rb
Owners: none

align
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/spam.html.erb
Owners: none

improve accessibility of sign-up modal
  app/views/layouts/_social_icons.html.erb
  app/views/users/_create_form.html.erb
  app/views/users/_spamaway.html.erb
Owners: @publiclab/navbar-maintainers, @publiclab/profile-maintainers

improve accessibility of login modal
  app/views/layouts/_social_icons.html.erb
  app/views/user_sessions/_form.html.erb
  config/locales/en.yml
Owners: @publiclab/navbar-maintainers, @publiclab/login-maintainers

new spam2 ui
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/spam.html.erb
  config/routes.rb
Owners: none

codeclimate-issue
  app/controllers/spam2_controller.rb
Owners: none

indentation
  app/controllers/spam2_controller.rb
Owners: none
