Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Replace .length and .count with .size on app/views/admin/ (#8522)
  app/views/admin/useremail.html.erb
  app/views/admin/users.html.erb
Owners: none

aligned social buttons in a row (#8525)
  app/views/home/_social.html.erb
Owners: none

Changed count and length to size (#8523)
  app/views/dashboard/_activity.html.erb
  app/views/dashboard/_node_comment.html.erb
  app/views/dashboard/_question_node_meta.html.erb
Owners: none

Emails displayed in same thread. (#8521)
  app/mailers/comment_mailer.rb
  app/mailers/subscription_mailer.rb
  test/functional/like_controller_test.rb
  test/unit/subscription_mailer_test.rb
Owners: none

Validate sign up form elements on page reload (#8506)
  app/assets/javascripts/validation.js
Owners: none

Added tags search to type-specific searches sidebar links
  app/helpers/search_helper.rb
Owners: none

style typo fixed
  app/helpers/search_helper.rb
Owners: none

made changes as suggested
  app/models/answer.rb
Owners: none

Removed answer.rb.
  app/models/answer.rb
Owners: none

Removed answer_selection.rb.
  app/models/answer_selection.rb
Owners: none

Updated_the_section
  app/models/answer_selection.rb
Owners: none

fixed footer
  app/assets/stylesheets/style.css
  app/views/layouts/_footer.html.erb
Owners: @publiclab/navbar-maintainers

fixed footer
  app/views/layouts/_footer.html.erb
Owners: @publiclab/navbar-maintainers

fixed footer
  app/assets/stylesheets/style.css
Owners: none

Move tag range explanatory text below tabs
  app/views/tag/show/_contributors.html.erb
Owners: none

Update _tab_content.html.erb
  app/views/tag/show/_tab_content.html.erb
Owners: none

Inserted a partial template to display topic cards on tags search results page
  app/views/search/tags.html.erb
Owners: none

Inserted a partial template to display topic cards on tags search results page
  app/views/search/tags.html.erb
Owners: none

Move range below tabs (#8538)
  app/views/tag/show/_contributors.html.erb
  app/views/tag/show/_tab_content.html.erb
Owners: none

Added tags search to type-specific searches sidebar links (#8532)
  app/helpers/search_helper.rb
  app/views/search/tags.html.erb
Owners: none

tooltip-max-width in wiki.css
  app/assets/stylesheets/wiki.css
  app/views/dashboard/_node_meta.html.erb
Owners: none

changes in _node_meta.html.erb removed
  app/views/dashboard/_node_meta.html.erb
Owners: none

Replaced .count with .size in /search views
  app/views/search/_profiles_blank.html.erb
  app/views/search/_questions_blank.html.erb
  app/views/search/_tags_blank.html.erb
  app/views/search/_wikis_blank.html.erb
  app/views/search/all_content.html.erb
Owners: none

more master => main changes (#8096)
  .github/ISSUE_TEMPLATE/--weekly-check-in.md
  .travis.yml
  CONTRIBUTING.md
  Dangerfile
  README.md
  app/controllers/application_controller.rb
  doc/API.md
  doc/DATA_MODEL.md
  doc/EMAIL.md
  doc/LOGIN_SYSTEMS.md
  doc/OPENID.md
  doc/TESTING.md
  doc/reply_by_tweet.md
Owners: none

display methods in grid upon filtering (#8099)
  app/assets/javascripts/methods.js
Owners: none

Remove `command` from compose files (#8111)
  Makefile
  containers/docker-compose-production.yml
  containers/docker-compose-stable.yml
  containers/docker-compose-unstable.yml
Owners: none

adding tagname to tag page card, defaulting title to wiki title (#8102)
  app/views/tag/show.html.erb
Owners: none

Added aria-label for empty link . (#8095)
  app/views/dashboard/_node_question.html.erb
Owners: none

Update bundler before bundle install (#8101)
  Dockerfile
  Makefile
Owners: none

optimise performance of tag_controller stats (#8076)
  app/controllers/tag_controller.rb
  app/views/tag/stats.html.erb
Owners: none

added aria labels for empty links in app/view/dashboard/_node_event.html.erb (#8109)
  app/views/dashboard/_node_event.html.erb
Owners: none

optimize query wiki_controller (#8088)
  app/views/wiki/_wikis.html.erb
Owners: none

replace leaflet css/js files in editor rich (#8087)
  app/views/editor/rich.html.erb
  config/initializers/assets.rb
Owners: @publiclab/editor-maintainers

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

tooltip for tag page tagname badge
  app/views/tag/show.html.erb
Owners: none

Database env vars (#8127)
  config/database.yml.example
  containers/docker-compose-production.yml
  containers/docker-compose-stable.yml
  containers/docker-compose-testing.yml
  containers/docker-compose-unstable.yml
Owners: @publiclab/database-maintainers

Add co-author to blog index page (#8137)
  app/views/tag/blog.html.erb
Owners: none

tag page image header fix #6799 (#8144)
  app/views/tag/show.html.erb
  app/views/tag/show/_header.html.erb
  test/functional/tag_controller_test.rb
  test/system/tags_controller_test.rb
Owners: none

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

Removed "legacy" link from new question form issue#8146 (#8148)
  app/views/editor/questionRich.html.erb
Owners: @publiclab/editor-maintainers
