Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

Updated Readme (#8192)
  README.md
Owners: none

optimize query wiki_controller (#8088)
  app/views/wiki/_wikis.html.erb
Owners: none

Spam2: Unmoderated Digest UI update (#8130)
  app/models/user.rb
  app/views/admin_mailer/send_digest_spam.html.erb
Owners: none

Remove `command` from compose files (#8111)
  Makefile
  containers/docker-compose-production.yml
  containers/docker-compose-stable.yml
  containers/docker-compose-unstable.yml
Owners: none

Update bundler before bundle install (#8101)
  Dockerfile
  Makefile
Owners: none

Update README.md
  README.md
Owners: none

set up gitpod builds for every PR (#8145)
  .gitpod.dockerfile
  .gitpod.yml
  .travis.yml
  Gemfile
  Gemfile.lock
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

optimise performance of tag_controller stats (#8076)
  app/controllers/tag_controller.rb
  app/views/tag/stats.html.erb
Owners: none

improve accessibility of wiki show and new wiki (#7989)
  app/views/editor/_editor.html.erb
  app/views/editor/_main_image.html.erb
  app/views/editor/_toolbar.html.erb
  app/views/wiki/_header.html.erb
  app/views/wiki/edit.html.erb
Owners: @publiclab/editor-maintainers

replace leaflet css/js files in editor rich (#8087)
  app/views/editor/rich.html.erb
  config/initializers/assets.rb
Owners: @publiclab/editor-maintainers

tag page image header fix #6799 (#8144)
  app/views/tag/show.html.erb
  app/views/tag/show/_header.html.erb
  test/functional/tag_controller_test.rb
  test/system/tags_controller_test.rb
Owners: none

replace esri cdn link with minified cdn (#8164)
  app/views/map/_mapDependencies.html.erb
Owners: none

Replaced .count or .length with .size (#8210)
  app/models/concerns/statistics.rb
Owners: none

remove n+1 query from revision#path method (#8191)
  app/controllers/home_controller.rb
Owners: none

display methods in grid upon filtering (#8099)
  app/assets/javascripts/methods.js
Owners: none

Fixing gitpod db group calls (#8178)
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

try fixing travis (#8200)
  .travis.yml
  test/application_system_test_case.rb
Owners: none

Added aria-label for empty link . (#8095)
  app/views/dashboard/_node_question.html.erb
Owners: none

Center the project images on the Home page (#8169)
  app/views/home/home.html.erb
Owners: none

Delete scroll-func.js
  scroll-func.js
Owners: none

fix tag_selection_test using timecop (#8168)
  test/unit/tag_selection_test.rb
Owners: none

Spam2: system for flagging nodes and comments to moderators and User moderation (#8107)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/admin_controller.rb
  app/controllers/spam2_controller.rb
  app/models/comment.rb
  app/models/node.rb
  app/views/comments/_comments.html.erb
  app/views/dashboard/_node_meta.html.erb
  app/views/like/_like.html.erb
  app/views/notes/_comment.html.erb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
  db/migrate/20200705143706_add_flag_to_node.rb
  db/migrate/20200705161259_add_flag_to_comments.rb
  db/schema-drupal.rb
  db/schema.rb.example
  test/fixtures/nodes.yml
  test/functional/spam2_controller_test.rb
  test/system/dashboard_test.rb
  test/system/spam2_test.rb
Owners: @publiclab/comment-maintainers, @publiclab/database-maintainers

fixing GitPod mysql db, and try opening rails console in a gitpod terminal (#8152)
  .gitpod.yml
  app/controllers/users_controller.rb
  app/controllers/wiki_controller.rb
  app/models/node.rb
  app/models/tag.rb
Owners: @publiclab/profile-maintainers

added aria labels for empty links in app/view/dashboard/_node_event.html.erb (#8109)
  app/views/dashboard/_node_event.html.erb
Owners: none

Add co-author to blog index page (#8137)
  app/views/tag/blog.html.erb
Owners: none

tooltip for tag page tagname badge
  app/views/tag/show.html.erb
Owners: none

Upgrade Ruby version (#8165)
  Dockerfile
Owners: none

add environments to skylight (#8104)
  config/application.rb
  config/environments/staging.rb
  config/environments/staging_unstable.rb
Owners: none

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

more master => main changes (#8096)
  .github/ISSUE_TEMPLATE/--weekly-check-in.md
  .travis.yml
  CONTRIBUTING.md
  Dangerfile
  README.md
  app/controllers/application_controller.rb
  doc/API.md
  doc/DATA_MODEL.md
  doc/EMAIL.md
  doc/LOGIN_SYSTEMS.md
  doc/OPENID.md
  doc/TESTING.md
  doc/reply_by_tweet.md
Owners: none

remove n+1 query from user#tagnames method (#8190)
  app/models/user.rb
Owners: none

replaced .length with .size in controller
  app/controllers/spam2_controller.rb
Owners: none

Database env vars (#8127)
  config/database.yml.example
  containers/docker-compose-production.yml
  containers/docker-compose-stable.yml
  containers/docker-compose-testing.yml
  containers/docker-compose-unstable.yml
Owners: @publiclab/database-maintainers

replaced .length with .size in spam controller
  app/controllers/spam2_controller.rb
Owners: none

replace .length and .count with .size
  app/models/comment.rb
Owners: @publiclab/comment-maintainers

dashboard sql exception (#8203)
  app/models/tag.rb
Owners: none

Replaced .length and .count on stats controller with .size (#8214)
  app/controllers/stats_controller.rb
Owners: none

Replaced .count and .length in comment model with .size
  app/models/comment.rb
Owners: @publiclab/comment-maintainers

replaced .length with .size in spam controller (#8217)
  app/controllers/spam2_controller.rb
Owners: none

add placeholder to text box in editor L224 (#8181)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
