Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

alignment
  app/views/spam2/_nodes.html.erb
Owners: none

ui_update
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

code_climate_issue
  app/controllers/spam2_controller.rb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

format
  app/assets/stylesheets/spam2.css
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

refactoring
  app/assets/javascripts/application.js
  app/assets/javascripts/datatables.js
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/application.css
  app/assets/stylesheets/datatables.css
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

refactoring_spam
  app/assets/javascripts/spam2.js
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

code-climate-issue
  app/assets/javascripts/spam2.js
  app/views/spam2/_nodes.html.erb
Owners: none

code_climate_issue
  app/assets/javascripts/spam2.js
Owners: none

improve accessibility of notes show and comment modal
  app/views/comments/_edit.html.erb
  app/views/comments/_form.html.erb
  app/views/notes/_comment.html.erb
  app/views/notes/show.html.erb
Owners: @publiclab/comment-maintainers

improve acessibility of sidebar
  app/views/like/_like.html.erb
  app/views/tag/_advanced_tagging.html.erb
  app/views/tag/_form.html.erb
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
Owners: none

improve accessibility of navbar
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

card_header_node
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  config/routes.rb
Owners: none

spam2.js_codeclimate
  app/assets/javascripts/spam2.js
  app/controllers/spam2_controller.rb
Owners: none

added-counts
  app/controllers/spam2_controller.rb
  app/views/spam2/_nodes.html.erb
Owners: none

functional_test_spam2
  app/controllers/spam2_controller.rb
  test/functional/spam2_controller_test.rb
Owners: none

remove cdn links from new.html.erb which are available from asset pipeline (#7943)
  app/views/csvfiles/new.html.erb
Owners: none

formatting-spaces
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  config/routes.rb
Owners: none

improve accessibility of notes show and comment modal (#7975)
  app/views/comments/_edit.html.erb
  app/views/comments/_form.html.erb
  app/views/notes/_comment.html.erb
  app/views/notes/show.html.erb
Owners: @publiclab/comment-maintainers

improve accessibility of wiki show and new wiki
  app/views/editor/_editor.html.erb
  app/views/editor/_main_image.html.erb
  app/views/editor/_toolbar.html.erb
  app/views/wiki/_header.html.erb
  app/views/wiki/edit.html.erb
Owners: @publiclab/editor-maintainers

modal and hide feature
  app/views/spam2/_nodes.html.erb
Owners: none

tag subscription stats fixes
  app/controllers/stats_controller.rb
Owners: none

stats subscriptions rusers.status = 1, 4
  app/controllers/stats_controller.rb
Owners: none

Configure Uglifier gem to minify js (#7937)
  config/environments/production.rb
Owners: none

add check-in template (#7949)
  .github/ISSUE_TEMPLATE/--weekly-check-in.md
Owners: none

improve accessibility of sign-up modal (#7966)
  app/views/layouts/_social_icons.html.erb
  app/views/users/_create_form.html.erb
  app/views/users/_spamaway.html.erb
Owners: @publiclab/navbar-maintainers, @publiclab/profile-maintainers

improve accessibility of login modal (#7968)
  app/views/user_sessions/_form.html.erb
  config/locales/en.yml
Owners: @publiclab/login-maintainers

improve acessibility of sidebar (#7977)
  app/views/like/_like.html.erb
  app/views/tag/_advanced_tagging.html.erb
  app/views/tag/_form.html.erb
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
Owners: none

Update filter on dashboard (#7843)
  app/assets/javascripts/dashboard.js
  app/views/dashboard/_activity.html.erb
Owners: none

Update _form.html.erb
  app/views/user_sessions/_form.html.erb
Owners: @publiclab/login-maintainers

#7812
  app/views/sidebar/_dashboard.html.erb
Owners: none

Creatte gr.yml, for green language
  config/locales/gr.yml
Owners: none

Revert "Creatte gr.yml, for green language"
  config/locales/gr.yml
Owners: none

Create and update gr.yml
  config/locales/gr.yml
Owners: none

Update gr.yml
  config/locales/gr.yml
Owners: none

digest_spam
  app/controllers/admin_controller.rb
  app/jobs/digest_spam_job.rb
  app/mailers/admin_mailer.rb
  app/models/user.rb
  app/views/admin/spam.html.erb
  app/views/admin_mailer/send_digest_spam.html.erb
  config/routes.rb
  config/schedule.rb
Owners: none

code_climate
  app/controllers/admin_controller.rb
  app/jobs/digest_spam_job.rb
  app/models/user.rb
Owners: none

refactoring
  app/models/user.rb
Owners: none

replaced delete alert text in app with new alert message
  app/views/like/_like.html.erb
Owners: none

update, resolve syntax error
  config/locales/gr.yml
Owners: none

improve accessibility of notifications settings
  app/views/users/settings.html.erb
Owners: @publiclab/profile-maintainers
