Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

page_number buttons (#7501)
  app/views/admin/_comments.html.erb
  app/views/admin/_nodes.html.erb
  app/views/admin/_revisions.html.erb
Owners: none

Added missing css files to assets.rb file
  app/assets/stylesheets/application.css
Owners: none

troubleshooting travis error
  app/views/layouts/application.html.erb
  app/views/map/map.html.erb
Owners: @publiclab/navbar-maintainers

Changed to regular paranthesis
  app/views/admin/useremail.html.erb
Owners: none

add webmock to stub api requests
  Gemfile
  Gemfile.lock
  app/views/map/map.html.erb
  test/test_helper.rb
Owners: none

Fix map errors with new LEL 2.2.1 (#7545)
  Gemfile
  Gemfile.lock
  app/assets/javascripts/leaflet_helper.js
  app/assets/stylesheets/map.css
  app/controllers/users_controller.rb
  app/views/home/subscriptions.html.erb
  app/views/layouts/application.html.erb
  app/views/map/_inlineLeaflet.html.erb
  app/views/map/_mapDependencies.html.erb
  app/views/map/_peopleLeaflet.html.erb
  app/views/map/map.html.erb
  app/views/users/list.html.erb
  test/test_helper.rb
Owners: @publiclab/profile-maintainers, @publiclab/navbar-maintainers

Update _new_question.html.erb (#7540)
  app/views/questions/_new_question.html.erb
Owners: none

Update _responses.html.erb (#7525)
  app/views/notes/_responses.html.erb
Owners: none

Change the function t to translations (#7528)
  app/views/wiki/index.html.erb
Owners: none

Added "translation" to necessary lines (#7521)
  app/views/notes/index.html.erb
Owners: none

Update _events.html.erb
  app/views/sidebar/_events.html.erb
Owners: none

More fixes
  app/models/node.rb
Owners: none

changed t in translation at line 20 and 24
  app/views/stats/_range.html.erb
Owners: none

add capybara wait time on tests
  test/system/comment_test.rb
  test/system/csvfiles_controllers_test.rb
  test/system/dashboard_test.rb
  test/system/map_test.rb
  test/system/post_question_test.rb
  test/system/post_test.rb
  test/system/rich_text_editor_test.rb
  test/system/screenshots_test.rb
  test/system/search_test.rb
  test/system/settings_test.rb
  test/system/tag_test.rb
  test/system/tags_controller_test.rb
Owners: none

remove ajax wait time
  test/system/map_test.rb
Owners: none

Using local builds for Travis
  .travis.yml
  Dockerfile
  config/database.yml.example
Owners: @publiclab/database-maintainers

reduce wait time back to original time
  test/system/comment_test.rb
  test/system/csvfiles_controllers_test.rb
  test/system/dashboard_test.rb
  test/system/map_test.rb
  test/system/post_question_test.rb
  test/system/post_test.rb
  test/system/rich_text_editor_test.rb
  test/system/screenshots_test.rb
  test/system/search_test.rb
  test/system/settings_test.rb
  test/system/tag_test.rb
  test/system/tags_controller_test.rb
Owners: none

Replace all functions t() with translation()
  app/views/sidebar/_dashboard.html.erb
Owners: none

Fix text overflow in people page
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Add capybara wait time on tests (#7568)
  .travis.yml
  Dockerfile
  config/database.yml.example
Owners: @publiclab/database-maintainers

Added padding for dropdowns in stats page
  app/views/stats/_range.html.erb
Owners: none

Update useremail.html.erb (#7488)
  app/views/admin/useremail.html.erb
Owners: none

Fixed Issue#7347 (#7418)
  app/views/notes/_draft_notes.html.erb
Owners: none

Fixed width of read more button in card (#7446)
  app/views/notes/_card.html.erb
Owners: none

change function t to translation in app/views/wiki/edit.html.erb (#7478)
  app/views/wiki/edit.html.erb
Owners: none

Update style.css
  app/assets/stylesheets/style.css
Owners: none

Update _form.html.erb
  app/views/tag/_form.html.erb
Owners: none

Update _form.html.erb
  app/views/tag/_form.html.erb
Owners: none

Fix tools popover overflow issue
  app/views/like/_like.html.erb
Owners: none

Deleted _tagged_notes.html.erb
  app/views/notes/_tagged_notes.html.erb
Owners: none

Text disappearance in small screen solved. (#7539)
  app/assets/stylesheets/style.css
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Fix text overflow in people page (#7572)
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Added padding for dropdowns in stats page (#7579)
  app/views/stats/_range.html.erb
Owners: none

Delete _tagged_notes.html.erb (#7430)
  app/views/notes/_tagged_notes.html.erb
Owners: none

Update _form.html.erb (#7582)
  app/views/tag/_form.html.erb
Owners: none

Replace all functions t() with translation() (#7570)
  app/views/sidebar/_dashboard.html.erb
Owners: none

Fix : "Add a location" in sidebar when user is not logged in
  app/views/sidebar/_related.html.erb
Owners: none

Lines of header improved #7312 (#7445)
  app/assets/stylesheets/style.css
Owners: none

changed t in translation at line 20 and 24 (#7564)
  app/views/stats/_range.html.erb
Owners: none

Update _form.html.erb
  app/views/tag/_form.html.erb
Owners: none
