Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

spam2 typo in tests
  app/views/spam2/_spam.html.erb
  test/functional/spam2_controller_test.rb
Owners: none

spam2 flag tests
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  config/routes.rb
  test/fixtures/nodes.yml
  test/functional/spam2_controller_test.rb
  test/system/spam2_test.rb
Owners: none

Upgrade Ruby version
  Dockerfile
Owners: none

Upgrade Ruby version (#8165)
  Dockerfile
Owners: none

fix tag_selection_test using timecop
  test/unit/tag_selection_test.rb
Owners: none

Center the project images on the Home page
  app/views/home/home.html.erb
Owners: none

user moderation and search feature
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
Owners: none

indentation
  app/controllers/spam2_controller.rb
Owners: none

user moderation
  app/controllers/spam2_controller.rb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
Owners: none

indentation
  app/controllers/spam2_controller.rb
Owners: none

fix tag_selection_test using timecop (#8168)
  test/unit/tag_selection_test.rb
Owners: none

replace esri cdn link with minified cdn (#8164)
  app/views/map/_mapDependencies.html.erb
Owners: none

Added aria-label for empty link in /questions route
  app/views/questions/show.html.erb
Owners: none

externalise jquery using jquery-raisl-cdn and jquery-rails fallback
  Gemfile
  app/assets/javascripts/application.js
  app/views/layouts/application.html.erb
  config/application.rb
  config/initializers/jquery_cdn.rb
Owners: @publiclab/navbar-maintainers

improve performance of comments#create
  app/models/node.rb
  app/views/notes/_comments.html.erb
Owners: @publiclab/comment-maintainers

Added aria-label for empty link in /questions route (#8013)
  app/views/questions/show.html.erb
Owners: none

UI update of spam2
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
Owners: none

spam2 ui update
  app/controllers/spam2_controller.rb
Owners: none

bulk user moderation
  app/controllers/spam2_controller.rb
Owners: none

bulk user moderation spam2
  app/controllers/spam2_controller.rb
Owners: none

refactoring spam2
  app/controllers/spam2_controller.rb
Owners: none

spam2 refactoring
  app/controllers/spam2_controller.rb
Owners: none

Center the project images on the Home page (#8169)
  app/views/home/home.html.erb
Owners: none

trying mysql -e "SET @@global.sql_mode=TRADITIONAL;"
  .gitpod.yml
Owners: none

Tag.select('term_data.name, plots.term_data.count')
  app/models/tag.rb
Owners: none

3 changes for "SELECT list is not in GROUP BY clause and contains nonaggregated column"
  app/controllers/wiki_controller.rb
Owners: none

Update .gitpod.yml
  .gitpod.yml
Owners: none

Spam2: system for flagging nodes and comments to moderators and User moderation (#8107)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/admin_controller.rb
  app/controllers/spam2_controller.rb
  app/models/comment.rb
  app/models/node.rb
  app/views/comments/_comments.html.erb
  app/views/dashboard/_node_meta.html.erb
  app/views/like/_like.html.erb
  app/views/notes/_comment.html.erb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
  db/migrate/20200705143706_add_flag_to_node.rb
  db/migrate/20200705161259_add_flag_to_comments.rb
  db/schema-drupal.rb
  db/schema.rb.example
  test/fixtures/nodes.yml
  test/functional/spam2_controller_test.rb
  test/system/dashboard_test.rb
  test/system/spam2_test.rb
Owners: @publiclab/comment-maintainers, @publiclab/database-maintainers

Update node.rb
  app/models/node.rb
Owners: none

add environments to skylight (#8104)
  config/application.rb
  config/environments/staging.rb
  config/environments/staging_unstable.rb
Owners: none

add community_tags.date to group() in normal_tags()
  app/models/node.rb
Owners: none

database config
  .gitpod.yml
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

group by community_tags.created_at too
  app/models/node.rb
Owners: none

added community_tags.updated_at and now it works!!!
  app/models/node.rb
Owners: none

users controller group - node.nid, node_revisions.vid
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

fixing GitPod mysql db, and try opening rails console in a gitpod terminal (#8152)
  .gitpod.yml
  app/controllers/users_controller.rb
  app/controllers/wiki_controller.rb
  app/models/node.rb
  app/models/tag.rb
Owners: @publiclab/profile-maintainers

Fixes parsing multiple subscription signup #8166
  app/controllers/subscription_controller.rb
Owners: none

correctTagCount
  app/models/tag.rb
  app/views/tag/_topicCard.html.erb
Owners: none

Update app/views/tag/_topicCard.html.erb
  app/views/tag/_topicCard.html.erb
Owners: none

Update subscription_controller.rb
  app/controllers/subscription_controller.rb
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
