Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

Update t to translation
  app/views/wiki/_header.html.erb
Owners: none

Update useremail.html.erb
  app/views/admin/useremail.html.erb
Owners: none

Update_Header.html
  app/views/wiki/_header.html.erb
Owners: none

Updated function t to translation
  app/views/wiki/_header.html.erb
Owners: none

Fixed Sidebar shows "Add a location" if user is not logged in issue
  app/views/sidebar/_related.html.erb
Owners: none

t change to translation in profile.html.erb
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Fix updated timestamp on sidebar
  app/views/sidebar/_notes.html.erb
Owners: none

Add last edited by to tools popover for notes and questions
  app/views/like/_like.html.erb
Owners: none

Update _list.html.erb
  app/views/sidebar/_list.html.erb
Owners: none

#6730
  app/views/sidebar/_author.html.erb
Owners: none

Update 2 _list.html.erb
  app/views/sidebar/_list.html.erb
Owners: none

USeless space problem solved
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

t change to translation in profile.html.erb (#7606)
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Added gap in sidebar
  app/views/sidebar/_dashboard.html.erb
Owners: none

removing inconsistancies
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Added location modal script to dashboard
  app/views/sidebar/_dashboard.html.erb
Owners: none

changed tools_places.html.erb
  app/views/notes/tools_places.html.erb
Owners: none

Increased gap
  app/views/sidebar/_dashboard.html.erb
Owners: none

Updated tests
  test/functional/subscription_controller_test.rb
Owners: none

changed t to translation in reset.html.erb
  app/views/users/reset.html.erb
Owners: @publiclab/profile-maintainers

Updated bell icon
  app/views/comments/_form.html.erb
Owners: @publiclab/comment-maintainers

#7506 Show number of results found in email search
  app/views/admin/useremail.html.erb
Owners: none

changing t in translation
  app/views/users/reset.html.erb
Owners: @publiclab/profile-maintainers

Added function
  app/assets/javascripts/comment.js
Owners: @publiclab/comment-maintainers

Modified
  app/views/comments/_form.html.erb
Owners: @publiclab/comment-maintainers

Modified
  app/views/sidebar/_dashboard.html.erb
Owners: none

modified
  app/views/sidebar/_dashboard.html.erb
Owners: none

edit
  app/views/sidebar/_dashboard.html.erb
Owners: none

hr Tag improved
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

added camocase
  app/assets/javascripts/comment.js
Owners: @publiclab/comment-maintainers

modified func
  app/views/comments/_form.html.erb
Owners: @publiclab/comment-maintainers

Updated style
  app/views/sidebar/_dashboard.html.erb
Owners: none

Change t to translation in _related.html.erb in line 19, 38 and 42
  app/views/sidebar/_related.html.erb
Owners: none

Showing number of results found in email search
  app/views/admin/useremail.html.erb
Owners: none

Updating the style.css from line 223 to line 238
  app/assets/stylesheets/style.css
Owners: none

Update _header.html.erb at line 152
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Updated t to translation in file index.html.erb
  app/views/user_tags/index.html.erb
Owners: none

Update index.html.erb
  app/views/user_tags/index.html.erb
Owners: none

Update _profileCard.html.erb
  app/views/tag/_profileCard.html.erb
Owners: none

Update _profileCard.html.erb
  app/views/tag/_profileCard.html.erb
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
