Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Update subscription_controller.rb
  app/controllers/subscription_controller.rb
Owners: none

Fixing gitpod db group calls
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

Fixes parsing multiple subscription signup #8166 (#8176)
  app/controllers/subscription_controller.rb
Owners: none

Fixing gitpod db group calls (#8178)
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

add placeholder to text box in editor L224
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

eliminate n+1 queries of tags
  app/models/tag.rb
  app/views/tag/_advanced_tagging.html.erb
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
Owners: none

Updated the placeholder for textarea on line 224
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Update _editor.html.erb
  app/views/editor/_editor.html.erb
Owners: @publiclab/editor-maintainers

full group
  app/models/tag.rb
Owners: none

chrome driver issue
  .travis.yml
Owners: none

travis issue
  .travis.yml
Owners: none

system test issue
  .travis.yml
Owners: none

chrome driver version
  .travis.yml
Owners: none

chrome version issue
  .travis.yml
Owners: none

version change
  .travis.yml
Owners: none

use same version as in Dockerfile
  .travis.yml
Owners: none

specify chrome version
  .travis.yml
Owners: none

try another version 83
  .travis.yml
Owners: none

specify chrome
  .travis.yml
Owners: none

use chrome-driver helper
  .travis.yml
Owners: none

:confused:
  .travis.yml
Owners: none

remove n+1 query from user#tagnames method
  app/models/user.rb
Owners: none

remove n+1 query from revision#path method
  app/controllers/home_controller.rb
Owners: none

Updated Readme
  README.md
Owners: none

replace .length method with .size
  app/controllers/admin_controller.rb
  app/controllers/notes_controller.rb
  app/controllers/stats_controller.rb
  app/controllers/tag_controller.rb
  app/models/node.rb
  app/models/tag.rb
  app/models/user.rb
  app/views/dashboard/_node_meta.html.erb
  app/views/dashboard/_question_node_meta.html.erb
  app/views/like/_like.html.erb
  app/views/map/index.html.erb
  app/views/notes/_comment.html.erb
  app/views/notes/_comments.html.erb
  app/views/notes/_responses.html.erb
  app/views/notes/index.html.erb
  app/views/notes/show.html.erb
  app/views/questions/_new_question.html.erb
  app/views/questions/_questions_shadow.html.erb
  app/views/questions/show.html.erb
  app/views/search/_pinned.html.erb
  app/views/sidebar/_events.html.erb
  app/views/sidebar/_notes.html.erb
  app/views/sidebar/_question.html.erb
  app/views/sidebar/_related.html.erb
  app/views/sidebar/_wikis.html.erb
  app/views/tag/_replication.html.erb
  app/views/tag/_tags.html.erb
  app/views/tag/blog.html.erb
  app/views/users/_answered.html.erb
  app/views/users/likes.html.erb
  app/views/users/profile.html.erb
  app/views/wiki/_header.html.erb
  app/views/wiki/edit.html.erb
  app/views/wiki/index.html.erb
  app/views/wiki/methods.html.erb
  app/views/wiki/revisions.html.erb
Owners: @publiclab/comment-maintainers, @publiclab/profile-maintainers

try a different version of 83
  .travis.yml
Owners: none

add chrome to sources
  .travis.yml
Owners: none

:confused
  .travis.yml
Owners: none

travis system test
  .travis.yml
Owners: none

google chrome
  .travis.yml
Owners: none

google chorme version
  .travis.yml
Owners: none

revert
  .travis.yml
Owners: none

chrome
  .travis.yml
  test/application_system_test_case.rb
Owners: none

chrome driver
  .travis.yml
Owners: none

flag change for chrome
  .travis.yml
  test/application_system_test_case.rb
Owners: none

old version of chrome
  .travis.yml
Owners: none

chrome version change
  .travis.yml
Owners: none

chrome version
  .travis.yml
Owners: none

chrome
  .travis.yml
Owners: none

remove cache
  .travis.yml
Owners: none
