Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Load critical css and rest asynchronously
  Gemfile
  app/assets/javascripts/application.js
  app/views/layouts/application.html.erb
  config/critical_path_css.yml
  lib/tasks/critical_path_css.rake
Owners: @publiclab/navbar-maintainers

Digest update
  app/views/admin_mailer/send_digest_spam.html.erb
Owners: none

update accept confirmation message
  test/system/post_test.rb
Owners: none

Setting default encoding to convert when restoring a mysqldump
  config/my.cnf
Owners: none

Added aria-label for empty link in /questions route
  app/views/questions/show.html.erb
Owners: none

Tweak settings for MySQL encoding
  config/my.cnf
Owners: none

Add aria-label for input field in /subscriptions route (#8000)
  app/views/home/subscriptions.html.erb
Owners: none

Update _miniCard.html.erb (#7661)
  app/views/tag/_miniCard.html.erb
Owners: none

Add aria-label for input field in /subscriptions route (#8000) (#8008)
  app/views/home/subscriptions.html.erb
Owners: none

tests for spam digest
  app/views/admin/spam.html.erb
  app/views/users/profile.html.erb
  test/functional/admin_controller_test.rb
  test/unit/user_test.rb
Owners: @publiclab/profile-maintainers

bulk moderation and datatable
  Gemfile
  Gemfile.lock
  app/assets/javascripts/admin.js
  app/assets/javascripts/application.js
  app/assets/stylesheets/admin.css
  app/assets/stylesheets/application.css
  app/controllers/admin_controller.rb
Owners: none

comment moderation
  app/views/admin/_comments.html.erb
  app/views/admin/assets.html.erb
Owners: none

nodes and table filters
  app/views/admin/_nodes.html.erb
Owners: none

tests and UI
  app/views/admin/_revisions.html.erb
  app/views/admin/spam.html.erb
  config/initializers/assets.rb
  config/routes.rb
  test/functional/admin_controller_test.rb
Owners: none

routes changed
  app/controllers/admin_controller.rb
  app/views/admin/_nodes.html.erb
  app/views/admin/spam.html.erb
  test/functional/admin_controller_test.rb
Owners: none

Add font-awesome rails gem and remove other fontawesome packages from files
  Gemfile
  app/assets/stylesheets/application.css
  app/views/layouts/application.html.erb
  app/views/tag/graph.html.erb
  app/views/tag/gridsEmbed.html.erb
  app/views/tag/widget.html.erb
  package.json
  public/404.html
  public/422.html
  public/500.html
  public/502.html
  public/503.html
Owners: @publiclab/navbar-maintainers

Update package.json
  package.json
Owners: none

table alerts
  app/assets/javascripts/admin.js
  app/assets/stylesheets/admin.css
  app/views/admin/_nodes.html.erb
  app/views/admin/spam.html.erb
  config/initializers/assets.rb
  test/functional/admin_controller_test.rb
Owners: none

travis issue
  app/views/admin/_nodes.html.erb
  app/views/admin/spam.html.erb
  test/system/screenshots_test.rb
Owners: none

alerts added
  app/assets/javascripts/application.js
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

Add font-awesome rails gem and remove other fontawesome packages from… (#7938)
  Gemfile
  app/assets/stylesheets/application.css
  app/views/layouts/application.html.erb
  app/views/tag/graph.html.erb
  app/views/tag/gridsEmbed.html.erb
  app/views/tag/widget.html.erb
  package.json
  public/404.html
  public/422.html
  public/500.html
  public/502.html
  public/503.html
Owners: @publiclab/navbar-maintainers

Add greek language to gr.yml, correct the faults (#7981)
  app/views/sidebar/_dashboard.html.erb
  app/views/user_sessions/_form.html.erb
  config/locales/gr.yml
Owners: @publiclab/login-maintainers

improve accessibility of navbar (#7962)
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Update index.html.erb
  app/views/questions/index.html.erb
Owners: none

tag change
  app/views/tag/_related.html.erb
Owners: none

conflicts
  app/assets/stylesheets/application.css
Owners: none

link issue in _spam
  app/views/spam2/_spam.html.erb
Owners: none

Add aria-label for the input field
  app/views/tag/_sorting.html.erb
Owners: none

Removed Line number 10
  app/views/tag/_sorting.html.erb
Owners: none

Spam2 (Spam Management Dashboard) (#7969)
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/application.css
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/helpers/spam2_helper.rb
  app/views/admin/assets.html.erb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  config/initializers/assets.rb
  config/routes.rb
  test/functional/spam2_controller_test.rb
Owners: none

tag change (#8016)
  app/views/tag/_related.html.erb
Owners: none

improve accessibility of notifications settings (#7995)
  app/views/users/settings.html.erb
Owners: @publiclab/profile-maintainers

Add aria-label for the input field (#8018)
  app/views/tag/_sorting.html.erb
Owners: none

Update index.html.erb (#8014)
  app/views/questions/index.html.erb
Owners: none

contributors tables fixes
  app/views/tag/_contributors.html.erb
  app/views/tag/contributors.html.erb
  app/views/tag/show.html.erb
  app/views/tag/show/_tab_content.html.erb
Owners: none

stable issue
  app/views/spam2/_nodes.html.erb
  test/system/spam2_test.rb
Owners: none

contributors tables fixes (#8021)
  app/views/tag/_contributors.html.erb
  app/views/tag/contributors.html.erb
  app/views/tag/show.html.erb
  app/views/tag/show/_tab_content.html.erb
Owners: none

stable issue (#8022)
  app/views/spam2/_nodes.html.erb
  test/system/spam2_test.rb
Owners: none

improve accessibility of new question route
  app/views/editor/questionRich.html.erb
Owners: @publiclab/editor-maintainers

Fix icon Font awesome error
  app/views/layouts/_header.html.erb
  app/views/map/_mapDependencies.html.erb
Owners: @publiclab/navbar-maintainers
