Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Fixed obselete rubocop configs
  .rubocop_shopify_styleguide.yml
Owners: none

Changed LstripRstrip to Style/Strip
  .rubocop_shopify_styleguide.yml
Owners: none

Changed Layout/HeredocIndentation to enabled
  .rubocop_shopify_styleguide.yml
Owners: none

Fixed renamed configuration in .rubocop_todo.yml
  .rubocop_todo.yml
Owners: none

Moved Linelength from Metrics to LineLength
  .rubocop.yml
Owners: none

add pagy for map_controller
  app/controllers/map_controller.rb
  app/views/map/_maps.html.erb
Owners: none

comment-error-msg
  app/assets/javascripts/comment.js
  app/controllers/comment_controller.rb
Owners: @publiclab/comment-maintainers

add pagy for search profile and tag method
  app/controllers/search_controller.rb
  app/views/search/profiles.html.erb
  app/views/search/tags.html.erb
Owners: none

assert correct request url
  test/system/signup_form_test.rb
Owners: none

added the number of followers/following in the profile of the user
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

check validation text
  test/system/signup_form_test.rb
Owners: none

check the flash includes spam detection exception
  test/system/signup_form_test.rb
Owners: none

minor changes
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

assert full spam detection text
  test/system/signup_form_test.rb
Owners: none

remove assertions
  test/system/signup_form_test.rb
Owners: none

Fixes failing signup system test on travis (#8461)
  test/system/signup_form_test.rb
Owners: none

Fixes failing signup system test on travis (#8461)
  test/system/signup_form_test.rb
Owners: none

Revert "Fixes failing signup system test on travis (#8461)"
  test/system/signup_form_test.rb
Owners: none

remove signup system test
  test/system/signup_form_test.rb
Owners: none

revert signup validation commits
  app/assets/javascripts/validation.js
  app/views/users/_create_form.html.erb
Owners: @publiclab/profile-maintainers

remove signup system test (#8465)
  test/system/signup_form_test.rb
Owners: none

test 'incomplete spamaway test does not create new user record'
  test/integration/signup_flow_test.rb
Owners: none

Update signup_flow_test.rb
  test/integration/signup_flow_test.rb
Owners: none

add pagy for search profile and tag method (#8458)
  app/controllers/search_controller.rb
  app/views/search/profiles.html.erb
  app/views/search/tags.html.erb
Owners: none

comment-error-msg (#8456)
  app/assets/javascripts/comment.js
  app/controllers/comment_controller.rb
Owners: @publiclab/comment-maintainers

add pagy for map_controller (#8454)
  app/controllers/map_controller.rb
  app/views/map/_maps.html.erb
Owners: none

Update users_controller.rb
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

Update users_controller.rb
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

make blank field actually blank? otherwise 2 errors
  test/integration/signup_flow_test.rb
Owners: none

Sign up form validation test
  test/system/signup_form_test.rb
Owners: none

Empty Spamaway test for new user
  test/system/signup_spamaway_test.rb
Owners: none

Update signup_flow_test.rb
  test/integration/signup_flow_test.rb
Owners: none

Update test/system/signup_form_test.rb
  test/system/signup_form_test.rb
Owners: none

Update test/system/signup_form_test.rb
  test/system/signup_form_test.rb
Owners: none

Empty Spamaway test for new user (#8469)
  test/system/signup_spamaway_test.rb
Owners: none

Add duplicate username test
  test/system/signup_form_test.rb
Owners: none

Update signup_flow_test.rb
  test/integration/signup_flow_test.rb
Owners: none

Update signup_flow_test.rb
  test/integration/signup_flow_test.rb
Owners: none

added "hold" label exemption re: @cesswairimu
  .github/stale.yml
Owners: none

test 'incomplete spamaway test does not create new user record', and fix users controller to prevent user creation in this scenario (#8467)
  app/controllers/users_controller.rb
  test/integration/signup_flow_test.rb
Owners: @publiclab/profile-maintainers
