Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Update .gitpod.yml
  .gitpod.yml
Owners: none

removed .gitpod.dockerfile
  .gitpod.dockerfile
Owners: none

added gitpod.dockerfile
  .gitpod.dockerfile
Owners: none

passenger start added
  .gitpod.yml
Owners: none

switch to mysql
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

Update .gitpod.yml
  .gitpod.yml
Owners: none

Update .gitpod.yml
  .gitpod.yml
Owners: none

Update .gitpod.yml
  .gitpod.yml
Owners: none

Update .gitpod.yml
  .gitpod.yml
Owners: none

Update .gitpod.yml
  .gitpod.yml
Owners: none

Create .gitpod.yml
  .gitpod.yml
Owners: none

Removed "legacy" link from new question form issue#8146
  app/views/editor/questionRich.html.erb
Owners: @publiclab/editor-maintainers

Removed "legacy" link from new question form issue#8146 (#8148)
  app/views/editor/questionRich.html.erb
Owners: @publiclab/editor-maintainers

Update .gitpod.yml
  .gitpod.yml
Owners: none

Update .gitpod.yml
  .gitpod.yml
Owners: none

set up gitpod builds for every PR (#8145)
  .gitpod.dockerfile
  .gitpod.yml
  .travis.yml
  Gemfile
  Gemfile.lock
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

Update README.md
  README.md
Owners: none

try opening rails console in a gitpod terminal
  .gitpod.yml
Owners: none

Spam2: Unmoderated Digest UI update (#8130)
  app/models/user.rb
  app/views/admin_mailer/send_digest_spam.html.erb
Owners: none

improve accessibility of wiki show and new wiki (#7989)
  app/views/editor/_editor.html.erb
  app/views/editor/_main_image.html.erb
  app/views/editor/_toolbar.html.erb
  app/views/wiki/_header.html.erb
  app/views/wiki/edit.html.erb
Owners: @publiclab/editor-maintainers

minify leaflet scripts using uglifier
  config/environments/production.rb
Owners: none

test
  .gitpod.yml
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

redis-server
  .gitpod.dockerfile
Owners: none

redis-server
  .gitpod.dockerfile
Owners: none

replace esri cdn link with minified cdn
  app/views/map/_mapDependencies.html.erb
Owners: none

spam2 flag nodes
  app/controllers/admin_controller.rb
  app/controllers/spam2_controller.rb
  app/models/node.rb
  app/views/dashboard/_node_meta.html.erb
  app/views/like/_like.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_spam.html.erb
  config/routes.rb
  db/schema-drupal.rb
  db/schema.rb.example
Owners: @publiclab/database-maintainers

flag comment moderation
  app/controllers/admin_controller.rb
  app/controllers/spam2_controller.rb
  app/models/comment.rb
  app/views/comments/_comments.html.erb
  app/views/notes/_comment.html.erb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  config/routes.rb
  db/migrate/20200705143706_add_flag_to_node.rb
  db/migrate/20200705161259_add_flag_to_comments.rb
  db/schema-drupal.rb
  db/schema.rb.example
Owners: @publiclab/comment-maintainers, @publiclab/database-maintainers

codeclimate issue
  app/controllers/spam2_controller.rb
Owners: none

test issues spam2
  app/controllers/spam2_controller.rb
  app/views/spam2/_flags.html.erb
  config/routes.rb
Owners: none

reduce filters
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
Owners: none

spam2 code climate
  app/controllers/spam2_controller.rb
Owners: none

spam2 flag comments
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
Owners: none

spam2 flag and filters update
  app/assets/javascripts/spam2.js
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  config/routes.rb
Owners: none

codeclimate issue2
  app/controllers/spam2_controller.rb
Owners: none

flag comment order
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
Owners: none

nav align
  app/controllers/spam2_controller.rb
  app/views/spam2/_spam.html.erb
Owners: none

spam2 flag filters
  app/controllers/spam2_controller.rb
  app/views/spam2/_nodes.html.erb
Owners: none

flag spam2 test issue
  test/fixtures/nodes.yml
  test/system/spam2_test.rb
Owners: none

flag count and ui update
  app/assets/stylesheets/spam2.css
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
  test/system/spam2_test.rb
Owners: none

spam2 syatem test update
  app/views/dashboard/_node_meta.html.erb
  test/system/dashboard_test.rb
Owners: none
