Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Replaced .count to .size in line 20 of this query
  app/views/search/_questions_blank.html.erb
Owners: none

add to users list at /people too
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

Replaced .count to .size in line 12 of this query
  app/views/search/_tags_blank.html.erb
Owners: none

Replaced .count with .size in line 21 of this query
  app/views/search/_wikis_blank.html.erb
Owners: none

Replaced .count to .size in line 1 of this query
  app/views/search/_profiles_blank.html.erb
Owners: none

Add "Home" tooltip for "Public Lab" text in header
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Add "Home" tooltip to "Public Lab" link in navbar
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Update tag_controller.rb
  app/controllers/tag_controller.rb
Owners: none

Update users_controller.rb
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

update ruby version for rvm install in /doc/PREQUISITES.md
  doc/PREREQUISITES.md
Owners: none

Remove redundanttime text
  app/views/notes/_card.html.erb
Owners: none

Added Home tooltip to Public Lab link in navbar
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Validate sign up form elements on page reload
  app/assets/javascripts/validation.js
Owners: none

Refactor validate condition to reduce complexity
  app/assets/javascripts/validation.js
Owners: none

Change t to translation
  app/views/dashboard/_comment_moderate.html.erb
Owners: none

Delete answer_selection.rb
  app/models/answer_selection.rb
Owners: none

Delete answer_test.rb
  test/unit/answer_test.rb
Owners: none

Delete answer.rb
  app/models/answer.rb
Owners: none

update ruby version for rvm install in /doc/PREQUISITES.md (#8502)
  doc/PREREQUISITES.md
Owners: none

Remove redundanttime text (#8503)
  app/views/notes/_card.html.erb
Owners: none

Added Home tooltip to Public Lab link in navbar (#8504)
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

removed c9 installation from readme
  README.md
Owners: none

issue 8500 solved
  app/views/users/likes.html.erb
Owners: @publiclab/profile-maintainers

issue 8500 solved (#8514)
  app/views/users/likes.html.erb
Owners: @publiclab/profile-maintainers

removed c9 installation from readme (#8515)
  README.md
Owners: none

Delete answer_test.rb
  test/unit/answer_test.rb
Owners: none

Delete answer_test.rb (#8517)
  test/unit/answer_test.rb
Owners: none

Update answer_selection.rb
  app/models/answer_selection.rb
Owners: none

Emails displayed in same thread.
  app/mailers/comment_mailer.rb
  app/mailers/subscription_mailer.rb
  test/unit/subscription_mailer_test.rb
Owners: none

Emails displayed in same thread test fixes.
  test/unit/subscription_mailer_test.rb
Owners: none

Emails displaye in same thread - Fixed Like tests
  test/functional/like_controller_test.rb
Owners: none

Emails displayed in same thread - Likes test fixes
  test/functional/like_controller_test.rb
Owners: none

Changed count and length to size
  app/views/dashboard/_activity.html.erb
  app/views/dashboard/_node_comment.html.erb
  app/views/dashboard/_question_node_meta.html.erb
Owners: none

Replace .length with .size
  app/views/admin/useremail.html.erb
Owners: none

Replace .count with .size
  app/views/admin/users.html.erb
Owners: none

aligned social buttons in a row
  app/views/home/_social.html.erb
Owners: none

Updated this file to remove m
  app/views/search/all_content.html.erb
Owners: none

replaced .length and .count with .size
  app/views/admin/useremail.html.erb
  app/views/admin/users.html.erb
Owners: none

Display topic cards on tags search results page
  app/views/search/tags.html.erb
Owners: none

add tags search to type-specific searches sidebar links
  app/helpers/search_helper.rb
Owners: none
