Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

improve performance of comments#create (#8173)
  app/models/node.rb
  app/views/notes/_comments.html.erb
Owners: @publiclab/comment-maintainers

add ellipse (#8397)
  app/views/tag/show.html.erb
Owners: none

lock blog tag (#8398)
  app/models/node.rb
Owners: none

revert test changes from https://github.com/publiclab/plots2/pull/7715/
  test/system/post_test.rb
Owners: none

fix styling/assets in grid embed
  app/views/tag/gridsEmbed.html.erb
Owners: none

merge ... and + buttons for more tags in sidebar (#8386)
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
  test/system/post_test.rb
Owners: none

Update _user_controls.html.erb
  app/views/tag/show/_user_controls.html.erb
Owners: none

remove show more tags in favor of add tags now that both buttons do the same thing
  app/views/tag/_tags.html.erb
Owners: none

tooltip
  app/views/tag/_tagging.html.erb
Owners: none

Update _tagging.html.erb
  app/views/tag/_tagging.html.erb
Owners: none

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

Update _like.html.erb
  app/views/like/_like.html.erb
Owners: none

Update _user_controls.html.erb
  app/views/tag/show/_user_controls.html.erb
Owners: none

Update post_test.rb
  test/system/post_test.rb
Owners: none

Update _user_controls.html.erb with more menu items on /tag/____ card menus (#8399)
  app/views/tag/show.html.erb
  app/views/tag/show/_user_controls.html.erb
Owners: none

Update post_test.rb
  test/system/post_test.rb
Owners: none

Update _tagging.html.erb
  app/views/tag/_tagging.html.erb
Owners: none

Changes .length & .count to .size
  app/models/tag.rb
Owners: none

Fixed changes based on reviewer's comment
  app/models/tag.rb
Owners: none

Replace .length with .size for sidebar
  app/views/sidebar/_question.html.erb
Owners: none

fix timecop freeze by ignoring nanosecond precision for ci
  test/unit/tag_selection_test.rb
Owners: none

Update both instances from length to size
  app/views/questions/show.html.erb
Owners: none

Update index.html.erb
  app/views/wiki/index.html.erb
Owners: none

Update _new_question.html.erb
  app/views/questions/_new_question.html.erb
Owners: none

fix card page break and move to print layout
  app/assets/stylesheets/print_new.css
  app/controllers/notes_controller.rb
  app/controllers/wiki_controller.rb
  app/views/layouts/print.html.erb
Owners: @publiclab/navbar-maintainers

fix timecop freeze by ignoring nanosecond precision for ci (#8411)
  test/unit/tag_selection_test.rb
Owners: none

Update _new_question.html.erb (#8414)
  app/views/questions/_new_question.html.erb
Owners: none

Replace .length to .size on wiki index (#8413)
  app/views/wiki/index.html.erb
Owners: none

edit failure message
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

fix card page break and move to print layout (#8415)
  app/assets/stylesheets/print_new.css
  app/controllers/notes_controller.rb
  app/controllers/wiki_controller.rb
  app/views/layouts/print.html.erb
Owners: @publiclab/navbar-maintainers

Replace .length with .size for sidebar (#8410)
  app/views/sidebar/_question.html.erb
Owners: none

add filter to remove spammed accountfrom tag contributors listing
  app/models/tag.rb
Owners: none

add filter to remove spammed accountfrom tag contributors listing (#8418)
  app/models/tag.rb
Owners: none

try classname instead of id
  app/views/tag/_tagging.html.erb
  test/system/post_test.rb
Owners: none

notify on approved-first-post
  app/models/node.rb
Owners: none

switch to a#tags-open
  test/system/post_test.rb
Owners: none

rework order_by for https://github.com/publiclab/plots2/issues/7334
  app/controllers/tag_controller.rb
Owners: none

adjust sort dropdown text
  app/views/tag/show/_sort.html.erb
Owners: none

Update notes_controller_test.rb
  test/functional/notes_controller_test.rb
Owners: none

rubocop/codeclimate formatting
  app/controllers/tag_controller.rb
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
