Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Update blog.html.erb (#7672)
  app/views/tag/blog.html.erb
Owners: none

Update _list.html.erb (#7614)
  app/views/sidebar/_list.html.erb
Owners: none

Update t to translation (#7599)
  app/views/wiki/_header.html.erb
Owners: none

#6730 (#7615)
  app/views/sidebar/_author.html.erb
Owners: none

center tag buttons in sidebar
  app/assets/stylesheets/style.css
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
Owners: none

Create separate partial for sidebar map and add it in questions
  app/views/sidebar/_map.html.erb
  app/views/sidebar/_notes.html.erb
  app/views/sidebar/_question.html.erb
  app/views/sidebar/_related.html.erb
Owners: none

Fix margin for features page
  app/views/features/index.html.erb
Owners: none

Updated Translations
  app/views/notes/show.html.erb
Owners: none

Changed function t to translation
  app/views/tag/widget.html.erb
Owners: none

Change t to translation
  app/views/tag/show/_user_controls.html.erb
Owners: none

Added underline changes
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Update _contributors.html.erb
  app/views/tag/_contributors.html.erb
Owners: none

change all occurrence of the function t in tag/index.html.erb file to function translation
  app/views/tag/index.html.erb
Owners: none

Update _topicCard.html.erb
  app/views/tag/_topicCard.html.erb
Owners: none

Implemented class
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Change function t to translation in grids/_wikis.
  app/views/grids/_wikis.html.erb
Owners: none

fixes #7593 fixes the overlapping nav-item on dropdown
  app/assets/stylesheets/question.css
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

change function t to translation in app/views/tag/show/_tab_content.html.erb
  app/views/tag/show/_tab_content.html.erb
Owners: none

fixes code formatting
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

removes additional line
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

fixes formatting issues
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Fix tools popover overflow issue (#7585)
  app/views/like/_like.html.erb
Owners: none

Change function t to translation
  app/views/sidebar/_post_button.html.erb
Owners: none

Change one more t function to translation function
  app/views/sidebar/_post_button.html.erb
Owners: none

Introduced changes in bell icon in comments form (#7630)
  app/assets/javascripts/comment.js
  app/views/comments/_form.html.erb
Owners: @publiclab/comment-maintainers

Added Indication for sort parameter (#7696)
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Update lines 10 and 13
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Update _alerts.html.erb (#7660)
  app/views/layouts/_alerts.html.erb
Owners: @publiclab/navbar-maintainers

Update and rename _wikis.html.erb to _wikis.html.erb. fixes #7654
  app/views/sidebar/_wikis.html.erb. fixes #7654
Owners: none

fixed #6810 pluralization logic III
  app/views/tag/_profileCard.html.erb
Owners: none

Added missing css files to assets.rb file (#7546)
  app/assets/stylesheets/application.css
Owners: none

Fix margin for features page (#7571)
  app/views/features/index.html.erb
Owners: none

fix test errors
  app/api/srch/search.rb
  test/unit/user_test.rb
Owners: none

format popup with options and css, limit title length
  app/assets/javascripts/leaflet_helper.js
  app/assets/stylesheets/map.css
Owners: none

add # link to wiki popups
  app/assets/javascripts/leaflet_helper.js
  app/assets/stylesheets/map.css
Owners: none

add created_at and doc_image_url to nearbyPeople search
  app/api/srch/search.rb
  app/assets/javascripts/leaflet_helper.js
  app/assets/stylesheets/map.css
  app/models/doc_result.rb
Owners: none

add more info to map popups
  app/api/srch/search.rb
  app/assets/javascripts/application.js
  app/assets/javascripts/leaflet_helper.js
  app/assets/javascripts/timeago.js
  app/models/doc_result.rb
Owners: none

adjust test for returns wikis updated
  test/unit/user_test.rb
Owners: none

fix lint errors
  app/api/srch/search.rb
  app/assets/javascripts/timeago.js
Owners: none

map popup formatting
  app/assets/javascripts/leaflet_helper.js
  app/assets/stylesheets/map.css
  app/views/map/_inlineLeaflet.html.erb
  app/views/map/_leaflet.html.erb
  app/views/map/_peopleLeaflet.html.erb
  app/views/map/_plainInlineLeaflet.html.erb
Owners: none
