Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Revert "added Bootstrap to editor (#7534)"
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Revert "added Bootstrap to editor (#7534)" (#7764)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

add clock icon to editor history menu
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

add clock icon to editor history menu
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

fixed translation errors
  app/views/user_sessions/_form.html.erb
Owners: @publiclab/login-maintainers

add clock icon to editor history menu (#7765)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

test
  app/assets/javascripts/validation.js
  app/views/users/_create_form.html.erb
Owners: @publiclab/profile-maintainers

Modify toast message to be more user friendly for tag follow
  app/controllers/subscription_controller.rb
  test/functional/subscription_controller_test.rb
Owners: none

Update translation function
  app/views/sidebar/_related.html.erb
Owners: none

bumped versions of LEL and others
  package.json
  yarn.lock
Owners: none

bumped versions of LEL and others (#7771)
  package.json
  yarn.lock
Owners: none

upgrading LBLD to v1.3.0
  package.json
  yarn.lock
Owners: none

Update incorrect method name 't'. Change to 'translate'.
  app/views/user_sessions/_form.html.erb
Owners: @publiclab/login-maintainers

Updated_like.html.erb
  app/views/like/_like.html.erb
Owners: none

Changed function t to translation
  app/views/notes/_comment.html.erb
Owners: @publiclab/comment-maintainers

Changed function t to translation
  app/views/sidebar/_events.html.erb
Owners: none

Fix spacing in /tag route for sort options (#7605)
  app/views/notes/_card.html.erb
  app/views/tag/show.html.erb
Owners: none

Modify toast message to be more user friendly for tag follow (#7761)
  app/controllers/subscription_controller.rb
  test/functional/subscription_controller_test.rb
Owners: none

Updated translation in users create form
  app/views/users/_create_form.html.erb
Owners: @publiclab/profile-maintainers

first commit (#7754)
  app/views/users/_edit_form.html.erb
Owners: @publiclab/profile-maintainers

Changed function t to translation (issue #7740) (#7753)
  app/views/users/_likes.html.erb
Owners: @publiclab/profile-maintainers

Changed function t to translation (#7776)
  app/views/notes/_comment.html.erb
Owners: @publiclab/comment-maintainers

Fixes issue in navbar (#7705)
  app/assets/stylesheets/question.css
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Changed function t to translation (#7777)
  app/views/sidebar/_events.html.erb
Owners: none

Updated_like.html.erb (#7774)
  app/views/like/_like.html.erb
Owners: none

Update translation function (#7769)
  app/views/sidebar/_related.html.erb
Owners: none

Change function t to translation (#7760)
  app/views/tag/_contributors.html.erb
Owners: none

Changed function t to translation (#7745)
  app/views/wiki/_wikis.html.erb
Owners: none

Change function t to translation in app/views/tag/show/_contributors.html.erb #7721 (#7723)
  app/views/tag/show/_contributors.html.erb
Owners: none

change function t to translation in app/views/tag/show/_tab_content.html.erb (#7706)
  app/views/tag/show/_tab_content.html.erb
Owners: none

Change function t to translation in grids/_wikis. (#7704)
  app/views/grids/_wikis.html.erb
Owners: none

Update _topicCard.html.erb (#7698)
  app/views/tag/_topicCard.html.erb
Owners: none

change all occurrence of the function t in tag/index.html.erb file to function translation (#7699)
  app/views/tag/index.html.erb
Owners: none

Change t to translation (#7694)
  app/views/tag/show/_user_controls.html.erb
Owners: none

Changed function t to translation (#7693)
  app/views/tag/widget.html.erb
Owners: none

Updated index.html.erb lines 12 and 14 (#7759)
  app/views/notes/index.html.erb
Owners: none

updated line 28 and 29 (#7746)
  app/views/notes/tools_places.html.erb
Owners: none

Change function t to translation in app/views/sidebar/_post_button.html.erb (#7708)
  app/views/sidebar/_post_button.html.erb
Owners: none

Update _wikis.html.erb (#7656)
  app/views/sidebar/_wikis.html.erb
Owners: none

Update _related.html.erb (#7541)
  app/views/sidebar/_related.html.erb
Owners: none
