Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Change post time to time when it is published
  app/controllers/notes_controller.rb
Owners: none

Added missing space
  app/controllers/notes_controller.rb
Owners: none

ADDED
  app/assets/javascripts/tagging.js
Owners: none

IMPROVED
  app/assets/javascripts/tagging.js
Owners: none

Reload fucntion added
  app/assets/javascripts/tagging.js
Owners: none

IMPROVED
  app/assets/javascripts/tagging.js
Owners: none

REMOVED
  app/assets/javascripts/tagging.js
Owners: none

Change hover color of 'add location button'
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

MM
  app/assets/javascripts/tagging.js
Owners: none

MM
  app/assets/javascripts/tagging.js
Owners: none

Update useremail.html.erb
  app/views/admin/useremail.html.erb
Owners: none

Update my.cnf
  config/my.cnf
Owners: none

Don't force utf8mb
  config/my.cnf
Owners: none

Repair tables
  db/migrate/20180721114724_change_comments_to_utf8mb4.rb
Owners: @publiclab/database-maintainers

Try again with forced encoding
  config/my.cnf
Owners: none

Omit force
  config/my.cnf
Owners: none

Fixed width of read more button in card
  app/views/notes/_card.html.erb
Owners: none

Reload function improved
  app/assets/javascripts/tagging.js
Owners: none

IMPROVED
  app/assets/javascripts/tagging.js
Owners: none

Added "translation" to necessary lines
  app/views/notes/index.html.erb
Owners: none

Eye icon added infromt of followers name
  app/views/tag/_contributors.html.erb
Owners: none

Update _responses.html.erb
  app/views/notes/_responses.html.erb
Owners: none

integrate editor n plots2
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Scroll fix added
  app/views/map/_plainInlineLeaflet.html.erb
Owners: none

Error removed
  app/views/map/_plainInlineLeaflet.html.erb
Owners: none

Error removed
  app/views/map/_plainInlineLeaflet.html.erb
Owners: none

Error removed
  app/assets/stylesheets/style.css
Owners: none

Error removed
  app/assets/stylesheets/style.css
Owners: none

Error removed
  app/assets/javascripts/tagging.js
Owners: none

Error removed
  app/assets/javascripts/tagging.js
Owners: none

select all
  app/assets/javascripts/dashboard.js
Owners: none

padding removed
  app/views/admin/_comments.html.erb
  app/views/admin/_nodes.html.erb
  app/views/admin/_revisions.html.erb
Owners: none

Change the function t to translations
  app/views/wiki/index.html.erb
Owners: none

select all updated
  app/assets/javascripts/dashboard.js
Owners: none

Change hover color of 'add location button' (#7516)
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

added bootstrap
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

added bootstrap
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

removed previous changes
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Click function added in post_test.rb
  test/system/post_test.rb
Owners: none

Changed nodes.yml for sorting test
  test/fixtures/nodes.yml
Owners: none
