Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Replaced .count and .length in comment model with .size
  app/models/comment.rb
Owners: @publiclab/comment-maintainers

Update tag_controller.rb
  app/controllers/tag_controller.rb
Owners: none

Update users_controller.rb
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

add related tags under a plus symbol
  app/assets/stylesheets/profile.css
  app/views/tag/_topicCard.html.erb
  app/views/tag/show.html.erb
Owners: none

related topics line break tweak
  app/views/tag/show.html.erb
Owners: none

Replaced .count and .length in user model with .size #8206 Issue resolved
  app/models/user.rb
Owners: none

minor refactor
  app/models/comment.rb
Owners: @publiclab/comment-maintainers

Missing surrounding space provided for operator ===
  app/models/user.rb
Owners: none

skip if no related tags
  app/views/tag/show.html.erb
Owners: none

proper indentation
  app/views/tag/show.html.erb
Owners: none

Fix tag_controller failing test (#8228)
  app/views/tag/show.html.erb
Owners: none

Replaced .count and .length in comment model with .size (#8219)
  app/models/comment.rb
Owners: @publiclab/comment-maintainers

Replaced .count and .length in user model with .size #8206 Issue reso… (#8227)
  app/models/user.rb
Owners: none

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

moderator queue
  app/controllers/batch_controller.rb
  app/controllers/spam2_controller.rb
  app/models/user.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_spam.html.erb
  config/routes.rb
  test/functional/batch_controller_test.rb
  test/functional/spam2_controller_test.rb
Owners: none

batch controller
  app/controllers/batch_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_queue.html.erb
  test/functional/batch_controller_test.rb
Owners: none

Update _comments.html.erb
  app/views/spam2/_comments.html.erb
Owners: none

updated spam2 line 53
  app/views/spam2/_spam.html.erb
Owners: none

first-timmer issue
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_nodes.html.erb
  app/views/spam2/_spam.html.erb
Owners: none

update _flags.html.erb
  app/views/spam2/_flags.html.erb
Owners: none

adding tags in modals of Nodes #8230
  app/views/spam2/_nodes.html.erb
Owners: none

refactored #8230
  app/views/spam2/_nodes.html.erb
Owners: none

Update _node_meta.html.erb (#8097)
  app/views/dashboard/_node_meta.html.erb
Owners: none

comment Image Upload button repaired
  app/views/comments/_form.html.erb
Owners: @publiclab/comment-maintainers

Rply comment Improved
  app/assets/javascripts/comment.js
Owners: @publiclab/comment-maintainers

paginate tag page listings
  app/controllers/tag_controller.rb
Owners: none

paginate tag page listings (#8243)
  app/controllers/tag_controller.rb
Owners: none

Update tag_test.rb
  test/unit/tag_test.rb
Owners: none

Update _graph.html.erb
  app/views/tag/_graph.html.erb
Owners: none

Delete _related_tags.html.erb
  app/views/tag/show/_related_tags.html.erb
Owners: none

Update show.html.erb
  app/views/tag/show.html.erb
Owners: none

Update tag_test.rb
  test/unit/tag_test.rb
Owners: none

enable autocomplete on notes
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

fixes for #7965
  app/models/tag.rb
  app/views/tag/_topicCard.html.erb
  config/locales/en.yml
Owners: none

count fixes
  app/models/node_tag.rb
Owners: none

Don't let newcomers edit wiki pages (controller-level)
  test/functional/wiki_controller_test.rb
Owners: none

topic card count fixes for #7965 (#8249)
  app/models/node_tag.rb
  app/models/tag.rb
  app/views/tag/_topicCard.html.erb
  config/locales/en.yml
Owners: none

Update _topicCard.html.erb
  app/views/tag/_topicCard.html.erb
Owners: none

Set sql_mode for MySQL version in Gitpod
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

Update tag_test.rb
  test/unit/tag_test.rb
Owners: none
