Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

Update wiki_controller.rb
  app/controllers/wiki_controller.rb
Owners: none

Delete _related_tags.html.erb (#8247)
  app/views/tag/show/_related_tags.html.erb
Owners: none

Update tag.rb
  app/models/tag.rb
Owners: none

Update database.yml.gitpod
  config/database.yml.gitpod
Owners: @publiclab/database-maintainers

Update wiki_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

Fixes to tag counting logic (#8245)
  app/models/tag.rb
  test/unit/tag_test.rb
Owners: none

Update wiki_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

Update wiki_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

tag filter
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_spam.html.erb
  config/routes.rb
Owners: none

Update wiki_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

queue indentation
  app/controllers/spam2_controller.rb
  app/views/spam2/_queue.html.erb
Owners: none

Update wiki_controller.rb
  app/controllers/wiki_controller.rb
Owners: none

all tags filter queue
  app/views/spam2/_queue.html.erb
Owners: none

Update wiki_controller.rb
  app/controllers/wiki_controller.rb
Owners: none

fixed tag path in the modal #8230 also fixed extra spacing when no tags on the modal
  app/views/spam2/_nodes.html.erb
  config/routes.rb
Owners: none

Update wiki_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

Spam2: Moderator's Queue feature (#8196)
  app/assets/javascripts/spam2.js
  app/assets/stylesheets/spam2.css
  app/controllers/batch_controller.rb
  app/controllers/spam2_controller.rb
  app/views/spam2/_comments.html.erb
  app/views/spam2/_flags.html.erb
  app/views/spam2/_queue.html.erb
  app/views/spam2/_revisions.html.erb
  app/views/spam2/_spam.html.erb
  app/views/spam2/_users.html.erb
  config/routes.rb
  test/functional/batch_controller_test.rb
  test/functional/spam2_controller_test.rb
Owners: none

Update wiki_controller_test.rb
  test/functional/wiki_controller_test.rb
Owners: none

Don't let newcomers edit wiki pages (controller-level) (#8250)
  app/controllers/wiki_controller.rb
  test/functional/wiki_controller_test.rb
Owners: none

Added alerts-container class
  app/views/tag/show.html.erb
Owners: none

change button size
  app/views/spam2/_nodes.html.erb
Owners: none

Test added
  test/system/comment_test.rb
Owners: none

error removed
  test/system/comment_test.rb
Owners: none

error removed
  test/system/comment_test.rb
Owners: none

add tag input field to wiki editor
  app/controllers/wiki_controller.rb
  app/views/editor/_tag_input.html.erb
  app/views/wiki/edit.html.erb
Owners: @publiclab/editor-maintainers

fix code climate issue
  app/controllers/wiki_controller.rb
Owners: none

leave space between tag_input field an other buttons
  app/views/wiki/edit.html.erb
Owners: none

optimise qids query to select smaller subset
  app/controllers/tag_controller.rb
Owners: none

eliminate n+1 query of comment parent method
  app/controllers/home_controller.rb
Owners: none

eliminate n+1 query of subscription tagname method
  app/views/home/subscriptions.html.erb
Owners: none

refactor and remove unused code in user controller
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

eliminate n+1 query in questions comments parent method
  app/views/questions/show.html.erb
Owners: none

Changed .count and .length for .size
  app/models/node.rb
Owners: none

bcc on moderator spam digest email
  app/mailers/admin_mailer.rb
Owners: none

Adding tags to Modals of Nodes (#8238)
  app/views/spam2/_nodes.html.erb
  config/routes.rb
Owners: none

update _flags.html.erb (#8237)
  app/views/spam2/_flags.html.erb
Owners: none

Replaces .size with .count on line 197. Removes (:all) from line 217
  app/models/node.rb
Owners: none

Update _node_meta.html.erb (#8097)
  app/views/dashboard/_node_meta.html.erb
Owners: none

added message when following tag list is empty in spam2/queue
  app/views/spam2/_queue.html.erb
Owners: none

improved the formatting
  app/views/spam2/_queue.html.erb
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
