Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

notify on approved-first-post (#8421)
  app/models/node.rb
  test/functional/notes_controller_test.rb
Owners: none

rework order_by for tag page wiki pagination (#8422)
  app/controllers/tag_controller.rb
  app/views/tag/show/_sort.html.erb
Owners: none

re-show tags input on profile pages
  app/views/tag/_tagging.html.erb
Owners: none

remove show more tags in favor of add tags now that both buttons do t… (#8400)
  app/views/tag/_tagging.html.erb
  app/views/tag/_tags.html.erb
  test/system/post_test.rb
Owners: none

add pagy for all wiki routes
  app/controllers/application_controller.rb
  app/controllers/wiki_controller.rb
  app/views/wiki/revisions.html.erb
  test/system/screenshots_test.rb
Owners: none

Update both instances from length to size (#8412)
  app/views/questions/show.html.erb
Owners: none

Edit unique title validation failure message (#8416)
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

Replaces .count and .length with .size in tag model
  app/models/tag.rb
Owners: none

Changes term_data parameters
  app/models/tag.rb
Owners: none

Changes .size to .count where it was a parameter rather than a function
  app/models/tag.rb
Owners: none

Replaces .count and .length with .size in tag model (#8435)
  app/models/tag.rb
Owners: none

Remove Geokit gem
  Gemfile
Owners: none

Fix: changes back to top button to uncover content (#7823)
  app/assets/stylesheets/style.css
Owners: none

removes `acts_as_mappable`
  app/models/drupal_content_type_map.rb
Owners: none

cursor pointer added to ellipsis button (#7862)
  app/views/notes/_card.html.erb
Owners: none

add pagy for all wiki routes (#8428)
  app/controllers/application_controller.rb
  app/controllers/wiki_controller.rb
  app/views/wiki/revisions.html.erb
  test/system/screenshots_test.rb
Owners: none

Remove Geokit gem (#8437)
  Gemfile
  app/models/drupal_content_type_map.rb
Owners: none

migrate to pagy for notes
  app/controllers/notes_controller.rb
  app/views/notes/_coauthored_notes.html.erb
  app/views/notes/_draft_notes.html.erb
Owners: none

Add .deepsource.toml
  .deepsource.toml
Owners: none

Delete .deepsource.toml
  .deepsource.toml
Owners: none

Update README.md
  README.md
Owners: none

#8277 updating no followers / following message
  app/views/users/show_follow.html.erb
Owners: @publiclab/profile-maintainers

add pagy for likes
  app/controllers/like_controller.rb
  app/controllers/users_controller.rb
  app/views/like/index.html.erb
  config/initializers/pagy.rb
Owners: @publiclab/profile-maintainers

Following and Followers page UI (#8372)
  app/controllers/users_controller.rb
  app/views/users/show_follow.html.erb
  config/routes.rb
Owners: @publiclab/profile-maintainers

migrated to pagy for question related resources
  app/controllers/questions_controller.rb
  app/views/questions/_new_question.html.erb
  app/views/questions/_questions.html.erb
Owners: none

blog paginate -> pagy
  app/controllers/tag_controller.rb
  app/views/tag/blog.html.erb
Owners: none

Update config/routes.rb
  config/routes.rb
Owners: none

follow-popover
  app/views/tag/show.html.erb
Owners: none

follow-popover (#8439)
  app/views/tag/show.html.erb
Owners: none

add pagy for likes (#8442)
  app/controllers/like_controller.rb
  app/controllers/users_controller.rb
  app/views/like/index.html.erb
  config/initializers/pagy.rb
Owners: @publiclab/profile-maintainers

blog paginate -> pagy (#8446)
  app/controllers/tag_controller.rb
  app/views/tag/blog.html.erb
Owners: none

Migrate to pagy completely for notes' pagination (#8429)
  app/controllers/notes_controller.rb
  app/views/notes/_coauthored_notes.html.erb
  app/views/notes/_draft_notes.html.erb
Owners: none

migrated to pagy for question related resources (#8445)
  app/controllers/questions_controller.rb
  app/views/questions/_new_question.html.erb
  app/views/questions/_questions.html.erb
Owners: none

Signup form validation (#7768)
  app/assets/javascripts/validation.js
  app/views/users/_create_form.html.erb
  test/system/signup_form_test.rb
Owners: @publiclab/profile-maintainers

Update .github/stale.yml
  .github/stale.yml
Owners: none

Update .github/stale.yml
  .github/stale.yml
Owners: none

Translation helper follow-up to #7881
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Translation helper follow-up to #7881 #8450
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Fixed renamed rubocop configurations
  .rubocop_shopify_styleguide.yml
Owners: none

Removed BracesAroundHashParameters
  .rubocop_shopify_styleguide.yml
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
