Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

Replaced .length with .size on the admin controller
  app/controllers/admin_controller.rb
Owners: none

Replaced .length with .size on the admin controller (#8361)
  app/controllers/admin_controller.rb
Owners: none

Replace `.length` with `.size` in file _like.html.erb (#8333)
  app/views/like/_like.html.erb
Owners: none

Update _like.html.erb (#8355)
  app/views/like/_like.html.erb
Owners: none

Update like_controller.rb
  app/controllers/like_controller.rb
Owners: none

Update comment_controller.rb
  app/controllers/comment_controller.rb
Owners: @publiclab/comment-maintainers

Update tag_controller.rb
  app/controllers/tag_controller.rb
Owners: none

Update like_controller.rb (#8365)
  app/controllers/like_controller.rb
Owners: none

Update comment_controller.rb (#8366)
  app/controllers/comment_controller.rb
Owners: @publiclab/comment-maintainers

refactor social media tags condition
  app/models/node.rb
Owners: none

remove trailing spaces
  app/models/node.rb
Owners: none

Update tag_controller.rb (#8221)
  app/controllers/tag_controller.rb
Owners: none

Repair Image upload and reply of comment Section (#8240)
  app/assets/javascripts/comment.js
  app/views/comments/_form.html.erb
  test/system/comment_test.rb
Owners: @publiclab/comment-maintainers

Include related tags only for non spam posts, refs #3479
  app/models/tag.rb
  test/unit/tag_test.rb
Owners: none

Include related tags only for non spam posts, refs #3479 (#7477)
  app/models/tag.rb
  test/unit/tag_test.rb
Owners: none

Add pins and meta text to wiki pages in tag page listings
  app/views/notes/_card.html.erb
Owners: none

Add pins and meta text to wiki pages in tag page listings (#8370)
  app/views/notes/_card.html.erb
Owners: none

hotfix
  app/views/notes/_card.html.erb
Owners: none

Follow-up hotfix for layout issue in https://github.com/publiclab/plots2/pull/8370
  app/views/notes/_card.html.erb
Owners: none

Update _card.html.erb
  app/views/notes/_card.html.erb
Owners: none

Update _card.html.erb
  app/views/notes/_card.html.erb
Owners: none

Update _card.html.erb
  app/views/notes/_card.html.erb
Owners: none

#8277 & #8278 changed UI for Following and Followers page
  app/controllers/users_controller.rb
  app/views/users/show_follow.html.erb
  config/routes.rb
Owners: @publiclab/profile-maintainers

Add alternate text for images
  app/controllers/notes_controller.rb
  app/views/editor/rich.html.erb
  app/views/notes/show.html.erb
  db/migrate/20200629163837_add_photo_text_to_images.rb
Owners: @publiclab/editor-maintainers, @publiclab/database-maintainers

Add alternate text for images
  app/views/editor/rich.html.erb
Owners: @publiclab/editor-maintainers

add tests
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
  test/fixtures/revisions.yml
  test/functional/notes_controller_test.rb
  test/functional/wiki_controller_test.rb
  test/system/print_test.rb
Owners: none

css fixes
  app/assets/javascripts/dragdrop.js
  app/views/editor/_editor.html.erb
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

refactored code
  app/assets/javascripts/dragdrop.js
  app/views/editor/_editor.html.erb
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

Replaced .count and .length with .size
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

Create stale.yml
  .github/stale.yml
Owners: none

Better comment and label added
  .github/stale.yml
Owners: none

Replaced .count and .length with .size (#8382)
  app/controllers/users_controller.rb
Owners: @publiclab/profile-maintainers

wip: refine print template (#8337)
  app/controllers/notes_controller.rb
  app/controllers/wiki_controller.rb
  app/views/like/_like.html.erb
  app/views/notes/print.html.erb
  app/views/wiki/print.html.erb
  test/fixtures/revisions.yml
  test/functional/notes_controller_test.rb
  test/functional/wiki_controller_test.rb
  test/system/print_test.rb
Owners: none

merge ... and + buttons for more tags in sidebar
  app/views/tag/_tagging.html.erb
Owners: none

Update _tags.html.erb
  app/views/tag/_tags.html.erb
Owners: none

code climate issue fixed
  app/assets/javascripts/dragdrop.js
Owners: none

Changed .count and .length for .size in plots2/main/app/models/node.rb file (#8274)
  app/models/node.rb
Owners: none

Adds image button to wiki Editor (#8252)
  app/assets/javascripts/dragdrop.js
  app/assets/javascripts/editor.js
  app/assets/stylesheets/editor.css
  app/views/editor/_editor.html.erb
  app/views/editor/_toolbar.html.erb
Owners: @publiclab/editor-maintainers

add ellipse
  app/views/tag/show.html.erb
Owners: none

lock blog tag
  app/models/node.rb
Owners: none
