Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

Fix: changes back to top button to uncover content
  app/assets/stylesheets/style.css
Owners: none

added comments
  app/assets/stylesheets/editor.css
Owners: none

remove banned authors from top answerers (#7287)
  app/views/sidebar/_question.html.erb
Owners: none

#7506 Show number of results found in email search (#7631)
  app/views/admin/useremail.html.erb
Owners: none

reorder TimeAgo
  app/assets/javascripts/application.js
Owners: none

reorder TimeAgo (#7830)
  app/assets/javascripts/application.js
Owners: none

changed the drop-down follow btn text color to white (#7814)
  app/views/tag/_tags_popover.html.erb
Owners: none

bootstrap classes integration (#7789)
  app/assets/stylesheets/editor.css
Owners: none

Allow bio updation without current password and add unit test.
  app/controllers/users_controller.rb
  test/functional/users_controller_test.rb
Owners: @publiclab/profile-maintainers

Fixed filter spam tags in app/controllers/stats_controller.rb
  app/controllers/stats_controller.rb
Owners: none

'Merge' specific file from 'commentFix'
  app/views/comments/_form.html.erb
Owners: @publiclab/comment-maintainers

Added is_new_to_user
  app/models/node.rb
Owners: none

Added new tag
  app/views/dashboard/_node_comment.html.erb
Owners: none

Added new tag
  app/views/dashboard/_node_default.html.erb
Owners: none

Added new tag
  app/views/dashboard/_node_event.html.erb
Owners: none

Added new tag
  app/views/dashboard/_node_question.html.erb
Owners: none

Added new tag
  app/views/dashboard/_node_wiki.html.erb
Owners: none

Added new
  app/views/dashboard/_node_wiki.html.erb
Owners: none

Fixed style
  app/models/node.rb
Owners: none

Fixed styling
  app/views/dashboard/_node_comment.html.erb
Owners: none

Fixed styling
  app/views/dashboard/_node_default.html.erb
Owners: none

Fixed styling
  app/views/dashboard/_node_event.html.erb
Owners: none

Fixed styling
  app/views/dashboard/_node_question.html.erb
Owners: none

Fixed styling
  app/views/dashboard/_node_wiki.html.erb
Owners: none

Modified
  app/models/node.rb
Owners: none

Mod
  app/views/dashboard/_node_comment.html.erb
Owners: none

format toggle
  app/views/notes/_format_toggle.html.erb
Owners: none

change default zoom level
  app/controllers/map_controller.rb
Owners: none

update filter
  app/assets/javascripts/dashboard.js
  app/views/dashboard/_activity.html.erb
Owners: none

Update map_controller_test.rb
  test/functional/map_controller_test.rb
Owners: none

update filter
  app/assets/javascripts/dashboard.js
Owners: none

Update tag/show such that the counts match the nodes fetched, refs #6855 (#7476)
  app/controllers/tag_controller.rb
  app/models/node.rb
  app/views/tag/show.html.erb
  test/fixtures/node_tags.yml
  test/fixtures/nodes.yml
  test/fixtures/revisions.yml
  test/fixtures/tags.yml
  test/functional/home_controller_test.rb
  test/functional/notes_controller_test.rb
  test/functional/tag_controller_test.rb
  test/unit/api/search_service_test.rb
  test/unit/node_test.rb
Owners: none

changed default zoom level (#7842)
  app/controllers/map_controller.rb
  test/functional/map_controller_test.rb
Owners: none

Fixed filter spam tags in app/controllers/stats_controller.rb (#7836)
  app/controllers/stats_controller.rb
Owners: none

Updated to: where method before joins method
  app/controllers/stats_controller.rb
Owners: none

Fixed Issue #7847: Remove text from contributors page
  app/views/tag/_contributors.html.erb
Owners: none

format toggle (#7841)
  app/views/notes/_format_toggle.html.erb
Owners: none

rearrange where before joins
  app/controllers/stats_controller.rb
Owners: none

Fixes #7831. Fixed filter spam tags in app/controllers/stats_controller.rb (#7851)
  app/controllers/stats_controller.rb
Owners: none

cursor pointer added to ellipsis button
  app/views/notes/_card.html.erb
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers
