Repository publiclab/plots2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @publiclab/comment-maintainers, @publiclab/database-maintainers, @publiclab/editor-maintainers, @publiclab/navbar-maintainers, @publiclab/profile-maintainers, @publiclab/login-maintainers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat


# See /docs/MAINTAINERS.md for Public Lab's policy on feature maintainers!

/app/assets/javascripts/comment*              @publiclab/comment-maintainers
/app/assets/stylesheets/comments.css          @publiclab/comment-maintainers
/app/models/comment.rb                        @publiclab/comment-maintainers
/app/controllers/comment_controller.rb        @publiclab/comment-maintainers
/app/views/comments/                          @publiclab/comment-maintainers
/app/views/notes/_comment.html.erb            @publiclab/comment-maintainers
/app/views/notes/_comments.html.erb           @publiclab/comment-maintainers
/test/unit/comment_test.rb                    @publiclab/comment-maintainers
/test/unit/comment_mailer_test.rb             @publiclab/comment-maintainers
/test/functional/comment_controller_test.rb   @publiclab/comment-maintainers
/test/functional/comment_mailer_test.rb       @publiclab/comment-maintainers

/db*                                          @publiclab/database-maintainers
/config/database*                             @publiclab/database-maintainers

/app/controllers/editor_controller.rb         @publiclab/editor-maintainers
/app/views/editor*                            @publiclab/editor-maintainers

/app/views/layouts*                           @publiclab/navbar-maintainers

/app/controllers/users_controller.rb          @publiclab/profile-maintainers
/app/views/users*                             @publiclab/profile-maintainers

/app/controllers/user_sessions_controller.rb  @publiclab/login-maintainers
/app/views/user_sessions                      @publiclab/login-maintainers

lines improved
  app/assets/stylesheets/style.css
  app/views/layouts/_header.html.erb
Owners: @publiclab/navbar-maintainers

Instead of current_user to @user_session
  app/controllers/user_sessions_controller.rb
Owners: @publiclab/login-maintainers

Changed unless clause to safe navigation
  app/controllers/user_sessions_controller.rb
Owners: @publiclab/login-maintainers

Condition for not blocking itself
  app/views/users/list.html.erb
Owners: @publiclab/profile-maintainers

Admin not able to block itself
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

Test Run
  app/controllers/user_sessions_controller.rb
Owners: @publiclab/login-maintainers

Lines of header removes
  app/assets/stylesheets/style.css
Owners: none

Test Run (#7444)
  app/controllers/user_sessions_controller.rb
Owners: @publiclab/login-maintainers

Admin not able to block itself (#7443)
  app/views/users/list.html.erb
  app/views/users/profile.html.erb
Owners: @publiclab/profile-maintainers

image disappearance improved
  app/views/tag/show/_header.html.erb
Owners: none

fixed headers (#7332)
  app/views/grids/_nodes.html.erb
  app/views/grids/_notes.html.erb
  app/views/grids/_wikis.html.erb
Owners: none

margin added
  app/views/layouts/_signupLoginModal.html.erb
Owners: @publiclab/navbar-maintainers

changes improved
  app/views/tag/show/_header.html.erb
Owners: none

RESOLVE ISSUE #7242
  app/mailers/comment_mailer.rb
Owners: none

1.RESOLVES ISSUE #7242
  app/mailers/comment_mailer.rb
Owners: none

Resolves issue #7242
  app/mailers/comment_mailer.rb
Owners: none

RESOLVES ISSUE #7242
  app/mailers/comment_mailer.rb
Owners: none

maps controls zindex (#7419)
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Added condition to not follow yourself (#7438)
  app/views/like/_like.html.erb
Owners: none

Styled the dropdown button for a better margin (#7380)
  app/views/tag/show/_nav_tabs.html.erb
Owners: none

Update tools_places.html.erb
  app/views/notes/tools_places.html.erb
Owners: none

updated tools_places.html.erb
  app/views/notes/tools_places.html.erb
Owners: none

space added
  app/views/comments/_comments.html.erb
Owners: @publiclab/comment-maintainers

Css improved
  app/views/tag/show/_header.html.erb
Owners: none

css improved
  app/views/tag/show/_header.html.erb
Owners: none

css improved
  app/views/tag/show/_header.html.erb
Owners: none

Update application.html.erb
  app/views/layouts/application.html.erb
Owners: @publiclab/navbar-maintainers

Revert "Update tools_places.html.erb"
  app/views/notes/tools_places.html.erb
Owners: none

bulk moderation-sample
  app/views/admin/_nodes.html.erb
Owners: none

Update tools_places.html.erb
  app/views/notes/tools_places.html.erb
Owners: none

changed function t to translation in app/views/wiki/index.html.erb
  app/views/wiki/index.html.erb
Owners: none

Updated the function name from t to translation
  app/views/tag/show.html.erb
Owners: none

changed function t to translation in app/views/wiki/index.html.erb
  app/views/wiki/index.html.erb
Owners: none

back to top js file scroll-fucn.js imrpoved
  app/assets/javascripts/application.js
  app/assets/javascripts/scroll-func.js
  scroll-func.js
Owners: none

Scroll-func updated
  app/assets/javascripts/application.js
Owners: none

updated scroll-func.js
  app/assets/javascripts/application.js
Owners: none

IMPROVE: Format scroll-func.js
  app/assets/javascripts/scroll-func.js
Owners: none

image disappearance improved #6799 (#7447)
  app/views/tag/show/_header.html.erb
Owners: none

changed checkbox js
  app/views/admin/_nodes.html.erb
Owners: none

Added status of comments(updated) (#7470)
  app/models/comment.rb
  app/views/comments/_comments.html.erb
Owners: @publiclab/comment-maintainers
